
<ion-header>
    <ion-navbar>
        <ion-buttons start style="
    position: absolute;
    right: 4px;
    top: 12px;">
            <button (click)="getCart()" style="background-color: transparent;">
                <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
                    {{values.count}}
                </ion-badge>

                <img src="assets/imgs/shopping-cart.png" style="width: 24px">

            </button>
        </ion-buttons>
        <ion-title class="catalog-title">
           <!--محصولات ویژه-->
            {{ "Featured Products" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="shop-background">


    <div class="special-title" style=" margin-top: 20px; margin-bottom: 10px ; ">   {{ "Featured Products" | translate}}</div>


    <div *ngIf="featured_loading" style="margin-top: 120px; margin-bottom: 120px;">
        <ion-spinner spinner="ripple" class="loading-spinner">
        </ion-spinner>
    </div>

    <div *ngIf="service.featured.length == 0 && !featured_loading"
         style="direction: ltr;text-align: center;">

    <!--    محصولی در لیست محصولات ویژه موجود نیست.-->
        {{ "There are no items" | translate}}

    </div>


    <div *ngIf="service.featured && !featured_loading" style="direction: ltr;text-align: center;">
        <div>

            <div *ngFor="let item of service.featured;  let i = index" style="display: inline-block">
                <div class="product-card"  (click)="getProduct(item)">

                    <img class="new-badge" *ngIf="item.downloadable " src="assets/imgs/cloud-computing.png">


                    <img *ngIf="item.images[0]" class="product-pic" src="{{item.images[0].src}}">
                    <img *ngIf="!item.images[0]" class="product-pic" src="assets/imgs/placeholder.png" (load)="hideLoading()">


                    <div class="product-title" *ngIf="item.name">{{item.name}}</div>
                    <div class="product-title" *ngIf="item.title">{{item.title}}</div>

                    <div *ngIf="item.stock_status == 'instock' && item.sale_price" class="item-discount-price rtl">
                        <div class="home-card-sale-price"> {{"currency" | translate}}</div>
                        <div class="home-card-sale-price">{{1*item.regular_price | numberSeparator}}
                        </div>
                    </div>

                    <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">

                        <div *ngIf="item.stock_status == 'instock'" class="product-price">
                            <div *ngIf="item.price!=''">
                                <div style="display:inline-block;"> {{1 * item.price | numberSeparator}}</div>
                                <div style="display:inline-block;"> {{"currency" | translate}}</div>
                            </div>


                            <div *ngIf="item.price==''" class="soon-tag">
                              {{appsazSettings.nopriceTag}}
                            </div>

                        </div>

                        <div *ngIf="item.stock_status != 'instock'" class="product-price">
                            <div class="out-of-stock-tag">
                                {{"No Stock" | translate}}
                            </div>
                        </div>


<!--                        <div style="float: right;">-->

<!--                            <div>-->

<!--                                <img *ngIf="(item.average_rating | round) >0" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >1" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >2" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >3" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >4" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->

<!--                                <img *ngIf="5 - (item.average_rating | round) > 0" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 1" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 2" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 3" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 4" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->


<!--                            </div>-->
<!--                        </div>-->


                    </div>
                </div>
            </div>

        </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite_featured($event)" *ngIf="has_more_featured_items">
        <ion-infinite-scroll-content loadingSpinner="crescent"  loadingText=" {{'Loading more items...' | translate}}"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
