<ion-header>
    <ion-navbar>
        <ion-buttons start style="position: absolute;right: 4px;top: 12px;">
            <button (click)="getCart()" style="background-color: transparent;">
                <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
                    {{values.count}}
                </ion-badge>

                <img src="assets/imgs/shopping-cart.png" style="width: 24px">

            </button>
        </ion-buttons>
        <ion-title>
            {{"OrderInfo" | translate}}
        </ion-title>

    </ion-navbar>

</ion-header>


<ion-content class="shop-background">

    <ion-spinner *ngIf="!orderDetails" name="crescent">
    </ion-spinner>

    <div style="text-align: center !important;" *ngIf="orderDetails">


            <div style=" margin-top: 15px; margin-bottom: 15px;" class="special-title">
               <!-- فاکتور خرید-->
                {{"Order details" | translate}}
            </div>


        <div class="order-details-box box-shadow">
            <table class="order-details-table">
                <thead class="order-details-box-thead">
                <th rowspan="5" class="rtl pad-5 orderTH">{{"ProductName" | translate}}</th>
                <th class="rtl pad-5 orderTH">{{"Quantity" | translate}}</th>
                <th class="rtl pad-5 orderTH">{{"Price" | translate}}</th>
                <th class="rtl pad-5 orderTH">{{"SubTotal" | translate}}</th>
                </thead>

                <tr *ngFor="let item of orderDetails.order.line_items; index as index;"
                    class="order-details-box-tr">
                    <td class="rtl pad-5 order-details-box-td">{{item.name}}</td>
                    <td class="rtl pad-5 order-details-box-td">{{item.quantity}}</td>
                    <td class="rtl pad-5 order-details-box-td">{{item.price | numberSeparator}}
                        {{"currency" | translate}}</td>
                    <td class="rtl pad-5 order-details-box-td">{{item.total | numberSeparator }}
                        {{"currency" | translate}}</td>
                </tr>

            </table>

        </div>

        <div style=" margin-top: 15px; margin-bottom: 15px;" class="special-title">
          <!-- سایر جزییات سفارش-->
            {{"more details" | translate}}
        </div>


        <div>
            <div class="order-details-box box-shadow">

                <hr style="height: 1px;">
                <div class="order-details-box-det">
                    <span> {{"ShippingTotal" | translate}}:</span>
                    <span> {{1*orderDetails.order.total_shipping | numberSeparator }} {{"currency" | translate}}</span>
                </div>


                <hr style="height: 1px;">
                <div class="order-details-box-det">
                    <span> {{"TaxTotal" | translate}}:</span>
                    <span>{{orderDetails.order.total_tax | numberSeparator }} {{"currency" | translate}}</span>
                </div>


                <hr style="height: 1px;">
                <div class="order-details-box-det">
                    <span>{{"Discount" | translate}}:</span>
                    <span>{{orderDetails.order.total_discount | numberSeparator }} {{"currency" | translate}}</span>
                </div>


                <hr style="height: 1px;">
                <div class="order-details-box-det">
                    <span>{{"GrandTotal" | translate}}:</span>
                    <span>{{1*orderDetails.order.total | numberSeparator}} {{"currency" | translate}}</span>
                </div>

                <hr style=" height: 1px;">

                <div class="order-details-box-det">
                    <span> {{"Shipto" | translate}}:</span>
                    <span>{{orderDetails.order.shipping_address.first_name}}
                    {{orderDetails.order.shipping_address.last_name}}</span>
                </div>





                <hr style=" height: 1px;">
                <div class="order-details-box-det">
                    <span>{{"OrderNumber" | translate }}:</span>
                    <span>{{orderDetails.order.order_number}}</span>
                </div>


                <hr style=" height: 1px;">
                <div class="order-details-box-det">
                    <span>{{"Date" | translate}}:</span>
                    <span>{{orderDetails.order.created_at | jalali}}</span>
                </div>


                <!--<hr style=" height: 1px;">
                <div class="order-details-box-det">
                    <span> {{"PaymentMethod" | translate}}:</span>
                    <span>{{orderDetails.order.payment_details.method_title}}</span>
                </div>-->



                <hr style=" height: 1px;">
                <div class="order-details-box-det" style="height: 100px">
                    <span> {{"ShippingAddress" | translate}}:</span>
                    <span style="max-width: 60%;">
                    {{orderDetails.order.shipping_address.address_1}},

                    {{orderDetails.order.shipping_address.address_2}},

                    {{orderDetails.order.shipping_address.city}},
                    {{orderDetails.order.shipping_address.state}}

                    {{orderDetails.order.shipping_address.country}}

                    {{orderDetails.order.shipping_address.postcode}}
                    </span>

                </div>


            </div>

        </div>

    </div>
</ion-content>

