.order-details {

}

.order-details-box {
  color: color($appsazShop, text, base);
  background-color: color($appsazShop, card-back, base);
  //direction: rtl;
  direction: $app-direction;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 20px;

  span:nth-child(even){
    float: right;
    text-align: right;
  }
}

.order-details-box-thead{
  background-color: color($appsazShop, primary, base);
  color: color($appsazShop, card-back, base);
  font-size: 10px;
}

.order-details-box-tr{
  border-bottom: 1px solid color($appsazShop, card-border, base);
  color: color($appsazShop, text, base);
  font-size: 12px;
  //direction: rtl;
  direction: $app-direction;
}

.order-details-box-td{
 // border-left: 1px solid color($appsazShop, text, base);
  border-#{$align-item-opposite}: 1px solid color($appsazShop, text, base);
}
.order-details-box-tr2{
  background-color: color($appsazShop, card-back, base);
  color: color($appsazShop, primary, base);
  margin-top: 5px;
  //text-align: right;
  text-align: $align-item;
}
.order-details-box-det{
  //text-align: right;
  text-align: $align-item;
  //direction: rtl;
  direction: $app-direction;
  padding: 10px;
}

.order-details-table{
  border: 1px solid color($appsazShop, text, base);
  width: 100%;
}
