page-filter-modal {

  ion-list-header{
    text-align: center;

    b {
      color: $primary;
      font-size: 16px;
    }
  }


}

.filter-options{
  height: 40px;
  width: 100%;
  border-bottom: 1px solid color($appsazShop , low-text , base);
  //padding-right: 5px;
  padding-#{$align-item}: 5px;
}

.attributes {
  width: 35%;
  height: 100%;
  background-color: color($appsazShop , special , base) ;
  //float: right;
  float: $align-item;
  color: color($appsazShop , special-text , base) ;
}
.attr-vars {
  width: 65%;
  height: 100%;
  background-color:color($appsazShop , background , base) ;
  //float: left;
  float: $align-item-opposite;
  color: color($appsazShop , special , base) ;
  //padding-right: 10px;
  padding-#{$align-item}: 10px;
  //padding-left: 5px;
  padding-#{$align-item-opposite}: 5px;
}

element.style {
}
.checkbox-md .checkbox-checked {
  border-color: color($appsazShop , special , base) ;
  background-color: color($appsazShop , special , base) ;
}

.filter-name-selected{
  color: color($appsazShop , special , base) ;
  background-color : color($appsazShop , background , base) ;
  padding: 5px;
  height: 50px;
  line-height: 45px;
}

.filter-name-not-selected{
  padding: 5px;
  height: 50px;
  line-height: 45px;
  margin-top:5px;
  margin-bottom: 5px;
}

.filter-toolbar{
  padding: 0px;
  margin: 0px;
  height: 90px;
  background-color: color($appsazShop , special , base) ;
}
.filter-footer-item1{
  background-color: color($appsazShop , header-text , base) ;
  margin: 0px;
  flex: 1;
  text-align: center;
  height: 45px;
  padding-top: 10px;
  color: color($appsazShop , primary , base) ;
}

.filter-footer-item2{
  background-color: color($appsazShop , primary , base) ;
  margin: 0px;
  flex: 1;
  text-align: center;
  height: 45px;
  padding-top: 10px;
  color: color($appsazShop , special-text , base) ;
}
