
<ion-header>
  <ion-navbar >
    <ion-buttons start style="
    position: absolute;
    right: 4px;
    top: 12px;">
      <button (click)="getCart()" style="background-color: transparent;">
        <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
          {{values.count}}
        </ion-badge>

        <img src="assets/imgs/shopping-cart.png" style="width: 24px">

      </button>
    </ion-buttons>
    <ion-title class="catalog-title">
      {{"Top Sellers" | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="shop-background" >

  <div *ngIf="topsellers_loading" style="margin-top: 40px;">
    <ion-spinner spinner="ripple"  class="loading-spinner">
    </ion-spinner>
  </div>


  <div *ngIf="topsellerService.topsellers && !topsellers_loading" style="direction: ltr;text-align: center;">
    <div>

      <div *ngFor="let item of  topsellerService.topsellers;  let i = index"
           style="display: inline-block">
        <div class="product-card" style="width: 150px"  (click)="getProduct(item['product'])">

          <img *ngIf="item['product'].images" class="product-pic" src="{{item['product'].images[0].src}}" >
          <img *ngIf="!item['product'].images" class="product-pic" src="assets/imgs/placeholder.png" >


          <div class="product-title" *ngIf="item['product'].name">{{item['product'].name}}</div>
          <div class="product-title" *ngIf="item['product'].title">{{item['product'].title}}</div>

          <div *ngIf="item['product'].in_stock && item['product'].sale_price" class="item-discount-price ltr">
            <div class="home-card-sale-price"  >{{"currency" | translate}}</div>
            <div class="home-card-sale-price" >{{1*item['product'].regular_price | numberSeparator}}</div>
          </div>

          <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">

            <div *ngIf="item['product'].in_stock" class="product-price">
              <div *ngIf="item['product'].price!=''">
                <div style="display:inline-block;"> {{1 * item['product'].price | numberSeparator}}</div>
                <div style="display:inline-block;"> {{"currency" | translate}}</div>
              </div>


              <div *ngIf="item['product'].price==''" class="soon-tag">
                {{appsazSettings.nopriceTag}}
              </div>

            </div>

            <div *ngIf="!item['product'].in_stock" class="product-price">
              <div class="out-of-stock-tag">
                {{"No Stock" | translate}}
              </div>
            </div>




<!--            <div style="float: right;">-->

<!--              <div>-->
<!--                <img *ngIf="(item.average_rating | round) >0" class="item-rate-star" src="assets/imgs/ic_star.png">-->
<!--                <img *ngIf="(item.average_rating | round) >1" class="item-rate-star" src="assets/imgs/ic_star.png">-->
<!--                <img *ngIf="(item.average_rating | round) >2" class="item-rate-star" src="assets/imgs/ic_star.png">-->
<!--                <img *ngIf="(item.average_rating | round) >3" class="item-rate-star" src="assets/imgs/ic_star.png">-->
<!--                <img *ngIf="(item.average_rating | round) >4" class="item-rate-star" src="assets/imgs/ic_star.png">-->


<!--                <img *ngIf="5 - (item.average_rating | round) > 0" class="item-rate-star"-->
<!--                     src="assets/imgs/stargray.png">-->
<!--                <img *ngIf="5 - (item.average_rating | round) > 1" class="item-rate-star"-->
<!--                     src="assets/imgs/stargray.png">-->
<!--                <img *ngIf="5 - (item.average_rating | round) > 2" class="item-rate-star"-->
<!--                     src="assets/imgs/stargray.png">-->
<!--                <img *ngIf="5 - (item.average_rating | round) > 3" class="item-rate-star"-->
<!--                     src="assets/imgs/stargray.png">-->
<!--                <img *ngIf="5 - (item.average_rating | round) > 4" class="item-rate-star"-->
<!--                     src="assets/imgs/stargray.png">-->


<!--              </div>-->
<!--            </div>-->

          </div>
        </div>
      </div>

    </div>
  </div>
<!--  <ion-infinite-scroll (ionInfinite)="doInfinite_topsellers($event)" *ngIf="has_more_topsellers_items">-->
<!--    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="بارگذاری سایر کالاها"></ion-infinite-scroll-content>-->
<!--  </ion-infinite-scroll>-->
</ion-content>
