page-edit-info {

}
.edit-info-box{
  background-color: color($appsazShop, card-back , base);
  width: 96%;
  margin: 50px 2% 10px 2%;
  padding-bottom: 15px;
  text-align: center;
  //padding-left: 30px;
  padding-#{$align-item}: 30px;
  //padding-right: 20px;
  padding-#{$align-item-opposite}: 20px;
}

.edit-info-box-form{
  width: 100%;
  text-align: center;
}

.edit-info-box-form-item{
  font-size: 15px;
}

.item-rtl{
  //direction: rtl;
  direction: $app-direction;
}

.edit-info-footer{
  box-shadow: 5px 7px 15px 0 rgba(0, 0, 0, 0.2) ;
  width: 100%;
  text-align: center ;
  color:  color($appsazShop, button-text , base);
  margin-top: 30px
}