<ion-header>
    <ion-navbar>

        <ion-title>
            {{"Edit information" | translate}}
        </ion-title>

    </ion-navbar>

</ion-header>


<ion-content class="shop-background">


    <ion-spinner *ngIf="edit_loading" name="crescent" >
    </ion-spinner>

    <div *ngIf="!edit_loading">


        <div class="edit-info-box box-shadow">
            <div *ngIf="editData">
                <form class="edit-info-box-form" #f="ngForm">


                    <ion-item class="thin-item edit-info-box-form-item">
                        <ion-label class="item-rtl" floating>{{"FirstName" | translate}}</ion-label>
                        <ion-input type="text" name="firstname" [(ngModel)]="editData['customer'].billing_address.first_name" ></ion-input>
                    </ion-item>


                    <ion-item  class="thin-item edit-info-box-form-item">
                        <ion-label class="item-rtl" floating>{{"LastName" | translate}}</ion-label>
                        <ion-input type="text" [(ngModel)]="editData['customer'].billing_address.last_name" name="lastname"></ion-input>
                    </ion-item>


                    <!--<ion-item class="thin-item" style="font-size: 15px;">-->
                    <!--<ion-label style="direction: rtl" floating>ایمیل</ion-label>-->
                    <!--<ion-input class="ltr-input" type="email" [(ngModel)]="editData['customer'].billing_address.email"-->
                    <!--name="Email"></ion-input>-->
                    <!--</ion-item>-->


                    <ion-item class="thin-item edit-info-box-form-item">
                        <ion-label class="item-rtl" floating>{{"Company" | translate}}</ion-label>
                        <ion-input required type="text" [(ngModel)]="editData['customer'].billing_address.company" name="billing_company"></ion-input>
                    </ion-item>

                    <ion-item class="thin-item edit-info-box-form-item">
                        <div class="item-rtl">{{"Email" | translate}}</div>
                        <div class="ltr-input">{{service.loggedInCustomer['customer'].username}}</div>
                    </ion-item>

                    <ion-item class="thin-item edit-info-box-form-item" >
                        <ion-label class="item-rtl" floating><!--آدرس (محله ، خیابان)--> {{"StreetAddress" | translate}}</ion-label>
                        <ion-input required type="text" [(ngModel)]="editData['customer'].billing_address.address_1" name="billing_address_1"></ion-input>
                    </ion-item>

                    <ion-item class="thin-item edit-info-box-form-item">
                        <ion-label class="item-rtl" floating><!--آدرس (کوچه ، پلاک،...)--> {{"Address details" | translate}}</ion-label>
                        <ion-input type="text" [(ngModel)]="editData['customer'].billing_address.address_2"  name="billing_address_2"></ion-input>
                    </ion-item>


                    <ion-item class="thin-item edit-info-box-form-item">
                        <ion-label class="item-rtl" floating>{{"Postcode" | translate}}</ion-label>
                        <ion-input class="ltr-input" required type="text" [(ngModel)]="editData['customer'].billing_address.postcode" name="postcode"></ion-input>
                    </ion-item>


                    <!--<ion-item *ngIf="countries.country">-->
                    <!--<ion-label>-->
                    <!--کشور-->
                    <!--</ion-label>-->
                    <!--<ion-select interface="popover" [(ngModel)]="editData['customer'].billing_address.country"-->
                    <!--(ionChange)="getBillingRegion($event,editData['customer'].billing_address.country)"-->
                    <!--name="country">-->
                    <!--<div *ngFor="let field of countries.country.countries | keys">-->
                    <!--<ion-option value="{{field.key}}"><span [innerHTML]="field.value" style="width: 90%;-->
                    <!--margin-right: 5%;-->
                    <!--margin-left: 5%;-->
                    <!--height: 10px"></span></ion-option>-->
                    <!--</div>-->
                    <!--</ion-select>-->
                    <!--</ion-item>-->


                    <!--  <ion-item class="thin-item edit-info-box-form-item" *ngIf="billing_states">
                          <ion-label class="item-rtl">
                              {{"State" | translate}}
                          </ion-label>
                          <ion-select interface="popover" [(ngModel)]="editData['customer'].billing_address.state" name="state">
                              <div *ngFor="let field of billing_states | keys">
                                  <ion-option value="{{field.key}}">{{field.value}}
                                  </ion-option>
                              </div>
                          </ion-select>
                      </ion-item>


                      <ion-item  class="thin-item edit-info-box-form-item"  *ngIf="!billing_states">
                          <ion-label class="item-rtl" floating>{{"State" | translate}} </ion-label>
                          <ion-input required type="text" [(ngModel)]="editData['customer'].billing_address.state" name="state"></ion-input>
                      </ion-item>-->


                    <ion-item class="thin-item edit-info-box-form-item">
                        <ion-label class="item-rtl" floating>{{"City" | translate}}</ion-label>
                        <ion-input required type="text" [(ngModel)]="editData['customer'].billing_address.city" name="billing_city"></ion-input>
                    </ion-item>


                </form>


            </div>


        </div>


        <button class="appbutton" (click)="saveChanges()" ion-button type="submit" [disabled]="disableSubmit" >
            <!--ذخیره تغییرات-->
            {{"Save" | translate}}
        </button>

    </div>


</ion-content>
