<ion-header>
    <ion-navbar>

        <ion-title class="catalog-title">
            {{"Cart"| translate}}
        </ion-title>

    </ion-navbar>

</ion-header>


<ion-content class="shop-background">


    <ion-spinner *ngIf="cart_loading" name="crescent" style="margin-top: 55px"></ion-spinner>

    <div *ngIf="cart">

        <div *ngIf="cart.cart_contents.length == 0" style="text-align: center; margin-top: 25vh;">
            <p>{{"Your cart is empty" | translate}}! </p>
            <button class="appbutton" ion-button type="submit" (click)="gohome()" style="height: auto">
                <div class="appbutton-text" >
                    {{"Add some products available in our menu to checkout" | translate}}
                </div>
            </button>
        </div>

        <div style="margin-bottom: 210px" *ngIf="cart?.cart_contents">


            <div *ngFor="let item of cart.cart_contents | keys">

                <div *ngIf="item.value.quantity != 0" class="cart-card box-shadow">

                    <div style="flex: 5;">
                        <div (click)="openItem(item.value.product_id)" style="margin-bottom: 10px;">{{item.value.name}}</div>

                        <div (click)="openItem(item.value.product_id)">
                            <div class="cart-price">
                                <div style="display: inline-block;">{{"Price" | translate}}:</div>
                                <div style="display: inline-block; margin-bottom: 10px">
                                    {{item.value.price | numberSeparator}}
                                    {{"currency" | translate}}
                                </div>
                            </div>


                            <div class="cart-price">
                                <div style="display: inline-block;">{{"Totals" | translate}}:</div>
                                <div style="display: inline-block; margin-bottom: 10px"> {{1 * item.value.line_subtotal
                                    | numberSeparator }}
                                    {{"currency" | translate}}
                                </div>
                            </div>

                        </div>

                        <div *ngFor="let varr of item.value.variation | keys" class="cart-vars">

                            {{varr.key | attributeKey}} : {{varr.value}}
                        </div>

                        <div class="cart-del" (click)="delete(item.value.product_id, item.key )"> {{"Remove" | translate}} </div>
                    </div>


                    <ion-spinner *ngIf="quantityLoading && quantityLoadingProductId == item.value.product_id" name="crescent" style="position: absolute; margin-top: 10%; margin-right: 45%;">
                    </ion-spinner>


                    <div style="flex: 3">

                        <div style="width: 120px; height: 120px;">
                            <img *ngIf="item.value.thumb.indexOf('<img') == -1" style="height: 110px; margin: auto; display: block;" src="{{ item.value.thumb }}">
                            <img *ngIf="item.value.thumb.indexOf('<img') != -1" style="height: 110px; margin: auto; display: block;" src="assets/imgs/placeholder.png">
                        </div>

                        <div style="display: flex; width: 115px; text-align: center;">
                            <img style="flex: 0; width: 20px;height: 20px;"
                                 (click)="addToCart(item.value.product_id, item.key)" src="assets/imgs/plus2.png">
                            <div style="flex: 1;">{{item.value.quantity}}</div>
                            <img style="flex: 0; width: 20px; height: 20px;" [hidden]="item.shoppingCount==0"
                                 (click)="deleteFromCart(item.value.product_id, item.key)" src="assets/imgs/minus.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</ion-content>


<ion-footer *ngIf="cart && cart.cart_contents.length != 0" no-border no-lines>


    <div  *ngIf="appsazSettings.advanced">

        <div class="discount-code-div box-shadow" >

            <img (click)="couponDetails()" class="discount-code-img icon-color-on-primary"
                 src="assets/imgs/discount-symbol.png">


            <div class="discount-code-txt" (click)="couponDetails()"> {{"Coupon Code" | translate}} </div>


        </div>

    </div>


    <ion-toolbar *ngIf="cart.cart_totals" style="padding: 0px; margin: 0px;height: 100px ">

        <div  class="cart-footer-item1">
            <!-- {{"Subtotal ex tax" | translate}}-->
            {{"Total" | translate}}
            {{1 * cart.cart_totals.cart_contents_total | numberSeparator}} {{"currency" | translate}}
        </div>


        <div [ngClass]="enableCheckout?'cart-footer-item2':'cart-footer-item3'"
             (click)="checkout()" >
            <!--{{Checkout | translate}}-->
            Checkout
        </div>


    </ion-toolbar>
</ion-footer>
