<ion-header>
    <ion-navbar>
        <ion-title class="catalog-title">
            {{"Checkout" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content text-wrap class="shop-background">

    <div *ngIf="form">
        <form #f="ngForm" class="form">
            <ion-label class="special-title"><!--فرم خرید-->{{"Checkout" | translate}}</ion-label>

            <ion-list class="billing-address-form-list box-shadow">
                <ion-item class="thin-item">
                    <ion-label floating>
                        <img *ngIf="form.billing_first_name.length > 0" style="width: 17px;"
                             src="assets/imgs/check-mark.png">
                        <!--نام-->   {{"FirstName" | translate}}*
                    </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_first_name" name="firstname">
                    </ion-input>
                </ion-item>


                <ion-item class="thin-item">
                    <ion-label floating>
                        <img *ngIf="form.billing_last_name.length > 0" style="width: 17px;"
                             src="assets/imgs/check-mark.png">
                        <!--نام خانوادگی-->  {{"LastName" | translate}}*
                    </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_last_name" name="lastname">
                    </ion-input>
                </ion-item>
                <ion-item class="thin-item">
                    <ion-label floating><img *ngIf="form.billing_company.length > 0" style="width: 17px;"
                                             src="assets/imgs/check-mark.png">
                        <!--شرکت-->{{"Company" | translate}}
                    </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_company" name="company">
                    </ion-input>
                </ion-item>
                <ion-item class="thin-item">
                    <ion-label floating>
                        <img *ngIf="form.billing_phone.length > 0" style="width: 17px;"
                             src="assets/imgs/check-mark.png">
                        <!--شماره تماس-->  {{"Phone" | translate}}*
                    </ion-label>
                    <ion-input class="ltr-input" required type="number" [(ngModel)]="form.billing_phone"
                               name="telephone">
                    </ion-input>
                </ion-item>
                <!--          <ion-item class="thin-item" *ngIf="states">
                              <ion-label>
                                  <img *ngIf="form.billing_state.length > 0" style="width: 17px;" src="assets/imgs/check-mark.png">
                                 &lt;!&ndash; استان&ndash;&gt;  {{"State" | translate}}*
                              </ion-label>
                              <ion-select interface="popover" [(ngModel)]="form.billing_state" name="billing_state">
                                  <div *ngFor="let field of states | keys">
                                      <ion-option value="{{field.key}}">{{field.value}}
                                      </ion-option>
                                  </div>
                              </ion-select>
                              &lt;!&ndash;<ion-label floating>
                                  <img *ngIf="form.billing_state.length > 0" style="width: 17px;" src="assets/imgs/check-mark.png">
                                  &lt;!&ndash;استان&ndash;&gt;  {{"State" | translate}}*
                              </ion-label>
                              <ion-input required type="text" [(ngModel)]="form.billing_state" name="billing_state">
                              </ion-input>&ndash;&gt;
                          </ion-item>
                          <ion-item class="thin-item" *ngIf="!states">
                              <ion-label floating>
                                  <img *ngIf="form.billing_state.length > 0" style="width: 17px;" src="assets/imgs/check-mark.png">
                                  &lt;!&ndash;استان&ndash;&gt;  {{"State" | translate}}*
                              </ion-label>
                              <ion-input required type="text" [(ngModel)]="form.billing_state" name="billing_state">
                              </ion-input>
                          </ion-item>-->
                <ion-item class="thin-item">
                    <ion-label floating>
                        <img *ngIf="form.billing_city.length > 0" style="width: 17px;" src="assets/imgs/check-mark.png">
                        <!--شهر-->  {{"City" | translate}}*
                    </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_city" name="city">
                    </ion-input>
                </ion-item>
                <ion-item class="thin-item">
                    <ion-label floating>
                        <img *ngIf="form.billing_address_1.length > 0" style="width: 17px;"
                             src="assets/imgs/check-mark.png">
                        <!-- آدرس (محله، خیابان، ...)-->  {{"StreetAddress" | translate}}*
                    </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_address_1" name="street1">
                    </ion-input>
                </ion-item>
                <ion-item class="thin-item">
                    <ion-label floating>
                        <img *ngIf="form.billing_address_2.length > 0" style="width: 17px;"
                             src="assets/imgs/check-mark.png">
                        <!--آدرس (کوچه، پلاک، ...) *--> {{"Address details" | translate}}
                    </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_address_2" name="street2">
                    </ion-input>
                </ion-item>
                <!--<ion-item class="thin-item">-->
                <!--<ion-label floating>ایمیل-->
                <!--</ion-label>-->
                <!--<ion-input class="ltr-input" required type="email" [(ngModel)]="form.billing_email" name="email">-->
                <!--</ion-input>-->
                <!--</ion-item>-->
                <ion-item class="thin-item">
                    <ion-label floating>
                        <img *ngIf="form.billing_postcode.length > 0" style="width: 17px;"
                             src="assets/imgs/check-mark.png">
                        <!--کد پستی-->  {{"Postcode" | translate}}*
                    </ion-label>
                    <ion-input class="ltr-input" required type="text" [(ngModel)]="form.billing_postcode"
                               name="postcode">
                    </ion-input>
                </ion-item>
            </ion-list>
        </form>
    </div>


    <div *ngIf="orderReview">
        <ion-label *ngIf="orderReview?.shipping"
                   class="special-title">{{"Select shipping method" | translate}}</ion-label>

        <ion-list class="billing-address-form-list box-shadow">
            <div no-margin text-wrap radio-group [(ngModel)]="chosen_shipping" (ngModelChange)="updateOrderReview()">
                <ion-item no-lines *ngFor="let method of orderReview.shipping_methods | keys"
                          style="padding-left:20px; color: black;">
                    <ion-label><span [innerHTML]="method.value.label"></span> <b>-</b>
                        <span>{{method.value.cost  | numberSeparator}}  {{"currency" | translate}} </span></ion-label>
                    <ion-radio value="{{method.value.id}}">
                    </ion-radio>
                </ion-item>
            </div>
        </ion-list>

    </div>


    <ion-label class="special-title"> <!--جزییات سفارش شما--> {{"Order datails" | translate}}</ion-label>

    <ion-spinner *ngIf="orderReviewLoading" name="crescent"></ion-spinner>

    <!--    <ion-list class="billing-address-form-list box-shadow" *ngIf="!orderReviewLoading && orderReview?.cart">-->
    <!--        <div *ngFor="let item of orderReview.cart.cart_contents | keys">-->
    <!--            <ion-row>-->
    <!--                <ion-col width-75>-->
    <!--                    <ion-label no-margin>{{item.value.name}}-->
    <!--                    </ion-label>-->
    <!--                    <ion-label no-margin style="color: gray; font-size: 11px;">-->
    <!--                        (-->
    <!--                        {{"Quantity" | translate}}:-->
    <!--                        {{item.value.quantity}}-->
    <!--                        &lt;!&ndash;عدد&ndash;&gt;)-->
    <!--                    </ion-label>-->
    <!--                </ion-col>-->
    <!--                <ion-col  width-25 text-right  style="text-align: left !important;">-->
    <!--                    <ion-label no-margin>{{1 * item.value.line_subtotal | numberSeparator}}  {{"currency" | translate}}-->
    <!--                    </ion-label>-->
    <!--                </ion-col>-->
    <!--            </ion-row>-->
    <!--        </div>-->
    <!--        <div *ngIf="orderReview.totals.discount_total && orderReview.totals.discount_total != 0">-->
    <!--            <ion-row>-->
    <!--                <ion-col width-75>-->
    <!--                    <ion-label no-margin>&lt;!&ndash;کد تخفیف&ndash;&gt;-->
    <!--                        {{"Coupon Code" | translate}}-->
    <!--                    </ion-label>-->
    <!--                </ion-col>-->
    <!--                <ion-col width-25 text-right  style="text-align: left !important;">-->
    <!--                    <ion-label no-margin>-->
    <!--                        - {{1 * orderReview.totals.discount_total | numberSeparator}} {{"currency" | translate}}-->
    <!--                    </ion-label>-->
    <!--                </ion-col>-->
    <!--            </ion-row>-->
    <!--        </div>-->

    <!--        <ion-row *ngIf="orderReview.totals.shipping_total != 0">-->
    <!--            <ion-col width-75>-->
    <!--                <ion-label>&lt;!&ndash;هزینه ارسال&ndash;&gt;-->
    <!--                    {{"Shipping price" | translate}}-->
    <!--                </ion-label>-->
    <!--            </ion-col>-->
    <!--            <ion-col width-25 text-right  style="text-align: left !important;">-->
    <!--                <ion-label>{{1 * orderReview.totals.shipping_total | numberSeparator}}  {{"currency" | translate}}-->
    <!--                </ion-label>-->
    <!--            </ion-col>-->
    <!--        </ion-row>-->

    <!--        <ion-row *ngIf="orderReview.totals.fee_total != 0">-->
    <!--            <ion-col width-75>-->
    <!--                <ion-label>&lt;!&ndash;هزینه&ndash;&gt;-->
    <!--                    {{"Price" | translate}}-->
    <!--                </ion-label>-->
    <!--            </ion-col>-->
    <!--            <ion-col width-25 text-right  style="text-align: left !important;">-->
    <!--                <ion-label>{{1 * orderReview.totals.fee_total | numberSeparator}}  {{"currency" | translate}}-->
    <!--                </ion-label>-->
    <!--            </ion-col>-->
    <!--        </ion-row>-->

    <!--        <ion-row *ngIf="orderReview.totals.total_tax != 0">-->
    <!--            <ion-col width-75>-->
    <!--                <ion-label>&lt;!&ndash;مجموع مالیات&ndash;&gt; {{"TaxTotal" | translate}}-->
    <!--                </ion-label>-->
    <!--            </ion-col>-->
    <!--            <ion-col width-25 text-right  style="text-align: left !important;">-->
    <!--                <ion-label>{{1 * orderReview.totals.total_tax | numberSeparator}}  {{"currency" | translate}}-->
    <!--                </ion-label>-->
    <!--            </ion-col>-->
    <!--        </ion-row>-->
    <!--        <ion-row>-->
    <!--            <ion-col width-75>-->
    <!--                <ion-label no-margin>-->
    <!--                    <b>&lt;!&ndash;مجموع کل&ndash;&gt;{{"Total" | translate}}-->
    <!--                    </b>-->
    <!--                </ion-label>-->
    <!--            </ion-col>-->
    <!--            <ion-col  width-25 text-right  style="text-align: left !important;">-->
    <!--                <ion-label no-margin>-->
    <!--                    <b>{{1 * orderReview.totals.total | numberSeparator}} {{"currency" | translate}}-->
    <!--                    </b>-->
    <!--                </ion-label>-->
    <!--            </ion-col>-->
    <!--        </ion-row>-->
    <!--    </ion-list>-->

    <ion-list class="billing-address-form-list box-shadow" *ngIf="!OrderReviewLoading && form">
        <div *ngFor="let item of form.items">
            <ion-row>
                <ion-col width-75>
                    <ion-label no-margin>{{item.product_name}}
                    </ion-label>
                    <ion-label no-margin style="color: gray; font-size: 11px;">
                        (
                        {{"Quantity" | translate}}:
                        {{item.quantity}}
                        <!--عدد-->)
                    </ion-label>
                </ion-col>
                <ion-col width-25 text-right style="text-align: left !important;">
                    <ion-label no-margin>
                        {{1 * item.line_subtotal | numberSeparator}}  {{"currency" | translate}}
                    </ion-label>
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="orderReview.discount_total && orderReview.discount_total != 0">
            <ion-row>
                <ion-col width-75>
                    <ion-label no-margin><!--کد تخفیف-->
                        {{"Coupon Code" | translate}}
                    </ion-label>
                </ion-col>
                <ion-col width-25 text-right style="text-align: left !important;">
                    <ion-label no-margin>
                        - {{1 * orderReview.discount_total | numberSeparator}} {{"currency" | translate}}
                    </ion-label>
                </ion-col>
            </ion-row>
        </div>

        <ion-row *ngIf="orderReview.shipping_total != 0">
            <ion-col width-75>
                <ion-label><!--هزینه ارسال-->
                    {{"Shipping price" | translate}}
                </ion-label>
            </ion-col>
            <ion-col width-25 text-right style="text-align: left !important;">
                <ion-label>{{1 * orderReview.shipping_total | numberSeparator}}  {{"currency" | translate}}
                </ion-label>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="orderReview.fee_total != 0">
            <ion-col width-75>
                <ion-label><!--هزینه-->
                    {{"Price" | translate}}
                </ion-label>
            </ion-col>
            <ion-col width-25 text-right style="text-align: left !important;">
                <ion-label>{{1 * orderReview.fee_total | numberSeparator}}  {{"currency" | translate}}
                </ion-label>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="orderReview.total_tax != 0">
            <ion-col width-75>
                <ion-label><!--مجموع مالیات--> {{"TaxTotal" | translate}}
                </ion-label>
            </ion-col>
            <ion-col width-25 text-right style="text-align: left !important;">
                <ion-label>{{1 * orderReview.total_tax | numberSeparator}}  {{"currency" | translate}}
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-75>
                <ion-label no-margin>
                    <b><!--مجموع کل-->{{"Total" | translate}}
                    </b>
                </ion-label>
            </ion-col>
            <ion-col width-25 text-right style="text-align: left !important;">
                <ion-label no-margin>
                    <b>{{1 * orderReview.total | numberSeparator}} {{"currency" | translate}}
                    </b>
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-list>

    <!--<ion-label class="special-title">&lt;!&ndash;انتخاب روش پرداخت&ndash;&gt; {{"Select payment method" | translate}}</ion-label>
-->
    <div >
        <!-- <ion-list class="billing-address-form-list box-shadow" text-wrap radio-group
                   [(ngModel)]="form.payment_method"
                   (ngModelChange)="changePayment()">
             <ion-item *ngFor="let method of form.payment | keys">
                 <ion-label class="payment-method-title">{{method.value.title}}
                 </ion-label>
                 <ion-radio value="{{method.value.id}}">
                 </ion-radio>
             </ion-item>
         </ion-list>-->
        <div *ngIf="form.payment_method != 'stripe' " class="side-heading-background">
            <ion-label *ngIf="form.payment_instructions && form.payment_instructions.length>0"
                       class="payment-instructions"
                       style="direction: ltr;
    padding: 10px; color: #3d322e;">
                {{form.payment_instructions}}
            </ion-label>

            <!--            <div *ngIf="appsazSettings.bazaarPublish">-->
            <!--                <button class="appbutton" ion-button text-uppercase-->
            <!--                        type="submit" (click)="openFactor(form , orderReview)">&lt;!&ndash;مشاهده فاکتور&ndash;&gt;-->
            <!--                    {{"View factor" | translate}}-->
            <!--                </button>-->
            <!--            </div>-->


            <ion-label class="special-title" *ngIf="!deliveryTimesLoading">
                <!-- انتخاب زمان تحویل--> {{"Select delivery time" | translate}}</ion-label>

            <ion-list class="billing-address-form-list box-shadow">
                <ion-item class="thin-item" *ngIf="!deliveryTimesLoading">
                    <ion-label>

                        <img *ngIf="form.selectedDeliveryDate"
                             style="width: 17px;" src="assets/imgs/check-mark.png">
                        <!--تاریخ تحوبل-->
                        {{"Delivery date" | translate}}
                    </ion-label>
                    <ion-select (ionChange)="deliveryDateChange($event)" interface="popover" [(ngModel)]="form.daypart"
                                name="daypart" style="max-width: unset;">
                        <div *ngFor="let date of deliveryDates;  let i = index">
                            <ion-option value="{{date.day}} {{date.date | jalali}}"
                                        (ionSelect)="onChangeSelect(i)">{{date.day}} {{date.date | jalali}}
                            </ion-option>
                        </div>
                    </ion-select>
                </ion-item>

                <ion-item class="thin-item" *ngIf="!deliveryTimesLoading">
                    <ion-label>

                        <img *ngIf="form.selectedDeliveryTime"
                             style="width: 17px;" src="assets/imgs/check-mark.png">
                        <!--ساعت تحوبل-->
                        {{"Delivery time" | translate}}
                    </ion-label>
                    <ion-select (ionChange)="deliveryTimeChange($event)" interface="popover" [(ngModel)]="form.timepart"
                                name="timepart">
                        <div *ngFor="let time of deliveryHours ">
                            <ion-option
                                    *ngIf="time.count>0 &&  ( myIndex != 0 || (myIndex == 0 && (time.period | checkTimeAvailable) ) )"
                                    value="{{time.period}}">{{time.period}}
                            </ion-option>
                            <ion-option *ngIf="time.count<1 || (myIndex == 0 && (!(time.period | checkTimeAvailable) ))"
                                        disabled value="{{time.period}}">{{time.period}}
                            </ion-option>
                        </div>
                    </ion-select>
                    <!-- <ion-select (ionChange)="deliveryTimeChange($event)" interface="popover" [(ngModel)]="form.timepart" name="timepart">
                         <div *ngFor="let time of deliveryTimes ">
                             <ion-option value="{{time}}">{{time}}
                             </ion-option>
                         </div>
                     </ion-select>-->
                </ion-item>

            </ion-list>


            <div>
                <button class="appbutton" ion-button text-uppercase [disabled]="buttonSubmit"
                        type="submit" (click)="checkout()"><!--ثبت نهایی-->
                    {{"Submit" | translate}}
                </button>
            </div>

        </div>
    </div>


</ion-content>
