<!--
  Generated template for the SplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="splash-back" >
 <img *ngIf="appsazSettings.gifsplash" style="width: 100%; margin-top: 25%" src="assets/imgs/splash.gif">
  <!--  <img *ngIf="appsazSettings.imgsplash && showLogo" [ngClass]="splashIn" src="assets/imgs/splash.png">-->
<!--  <img [ngClass]="splashIn" src="assets/imgs/splash.png">-->
</ion-content>

