page-splash {

}

.splash-back{
  background-color: color($appsazShop, splash-back , base) !important;
  text-align: center;
}

.splash-logo{
  width: 80%;
  margin-top: 35%;
  margin-right: 10%;
  margin-left: 10%
}