<ion-header>
    <ion-navbar>

        <ion-title>
            {{"Create New Account" | translate}}
        </ion-title>

    </ion-navbar>

</ion-header>


<ion-content padding class="shop-background">

    <div *ngIf="step==1" class="activation-step box-shadow">

        <div *ngIf="action=='register'">
            <!-- لطفا شماره موبایل (نام کاربری) خود را وارد کنید:-->
            <!--{{"Enter your phone number" | translate}}-->
            {{"Enter your email address" | translate}}
        </div>

        <div *ngIf="action=='forgetPass'"><!--
            به منظور تغییر رمز عبور شماره موبایل (نام کاربری) خود را وارد
            کنید:-->
           <!-- {{"To change your account password enter your phone number" | translate}}-->
            {{"To change your account password enter your email address" | translate}}
        </div>


        <input type="email" class="activation-input" [(ngModel)]="phoneNumber" [disabled]="disableButton"/>


        <button class="appbutton" ion-button (click)="sendActivationCode()" [disabled]="disableButton">
            {{"Continue" | translate}}
        </button>


        <div>
            <br><br>
            <hr>
            <div class="login-or" > OR </div>
            <button  (click)="googlePlusLogin()" [disabled]="disableBtn" class="google-login-btn">REGISTER BY GOOGLE</button>
            <br><br>
        </div>


        <!--        <div *ngIf="appsazSettings.guide" class="login-guide">-->

<!--            <div>-->
<!--                ارسال پیامک در نسخه آزمایشی فروشگاه اپ ساز غیرفعال است.-->
<!--                جهت تست میتوانید از کد ۱۲۳ استفاده نمایید.-->
<!--            </div>-->

<!--        </div>-->


    </div>


    <div *ngIf="step==2" class="activation-step box-shadow">

        <div style="text-align: center">
            {{"Enter activation code" | translate}}:
        </div>

        <input type="number" [(ngModel)]="activationCode" class="activation-input" [disabled]="disableButton2"/>

        <div *ngIf="action=='forgetPass'">
            <div>
                {{"Confirm Password" | translate}}:
            </div>

            <input required type="password" [(ngModel)]="newPass" class="activation-input" [disabled]="disableButton2"/>


            <div>
                {{"Confirm New Password" | translate}}:
            </div>

            <input required type="password" [(ngModel)]="rePass" class="activation-input" [disabled]="disableButton2"/>

        </div>


<!--        <div *ngIf="appsazSettings.guide" class="login-guide">-->

<!--            <div>-->
<!--                ارسال پیامک در نسخه آزمایشی فروشگاه اپ ساز غیرفعال است.-->
<!--                جهت تست میتوانید از کد ۱۲۳ استفاده نمایید.-->
<!--            </div>-->

<!--        </div>-->


        <button *ngIf="action=='forgetPass'" class="appbutton" ion-button (click)="validateActivationCode()" [disabled]="disableButton2">
            {{"Reset Password" | translate}}
        </button>
        <button *ngIf="action=='register'" class="appbutton" ion-button (click)="validateActivationCode()" [disabled]="disableButton2">
            {{"Register" | translate}}
        </button>

    </div>

</ion-content>

<ion-footer *ngIf="step==2">
    <ion-toolbar class="activation-toolbar-footer">

        <div style="display: flex !important;">

            <div class="activation-footer-item1" (click)="editNumber()">
               <!-- ویرایش  شماره موبایل-->
                <!--{{"Change phone number" | translate}}-->
                {{"Change email address" | translate}}
            </div>
        </div>

        <div *ngIf="resendable" style="display: flex !important;">

            <div class="activation-footer-item2" (click)="resendCode()">
                <!--ارسال دوباره کد-->
                {{"Resend code" | translate}}
            </div>
        </div>

        <div *ngIf="!resendable" style="display: flex !important;">

            <div class="activation-footer-item3">
               <!-- ارسال دوباره کد-->
                {{"Resend code" | translate}}
                (
                {{countDown}}
                {{"seconds" | translate}} )
            </div>

        </div>

    </ion-toolbar>
</ion-footer>
