page-activation-code {

}

.activation-step{
  margin-top: 70px;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
  //direction: rtl;
  direction: $app-direction;
  color: color($appsazShop , text , base);
  background-color:color($appsazShop , card-back , base);
  border-radius: 5px;
  padding: 10px;
  text-align: center !important;
}

.activation-input{
  width: 96%;
  height: 30px;
  margin-right: 2%;
  margin-left: 2%;
  padding-right: 5px;
  padding-left: 5px;
  //direction: ltr !important;
  direction: $app-direction!important;;
  border-radius: 5px;
  color: color($appsazShop,text,base);
  border: 1px solid color($appsazShop,card-border,base);
  background-color: color($appsazShop,card-back,base);
}

.activation-toolbar-footer{
 padding: 0px;
  margin: 0px;
  height: 90px;
}

.activation-footer-item1{
  color: color($appsazShop , header-text , base);
  background-color: color($appsazShop , primary , base);
  text-align: center;
  width: 100%;
  height: 45px;
  line-height: 53px;
}

.activation-footer-item2{
  color: color($appsazShop , primary , base);
  background-color: color($appsazShop , header-text , base);
  text-align: center;
  width: 100%;
  height: 48px;
  line-height: 53px;
}

.activation-footer-item3{
  color: color($appsazShop , low-text , base);
  background-color: color($appsazShop , header-text , base);
  text-align: center;
  width: 100%;
  height: 48px;
  line-height: 53px;
}

