<ion-header>
    <ion-navbar>

        <ion-title class="catalog-title">
            {{"Register" | translate}}
        </ion-title>

    </ion-navbar>

</ion-header>

<ion-content  class="shop-background">

    <form #f="ngForm" style="padding: 10px ; ">
        <ion-item  class="thin-item" >
            <ion-label style="direction: ltr" floating> {{"FirstName" | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="registerData.first_name" name="firstname"></ion-input>
        </ion-item>


        <ion-item  class="thin-item" >
            <ion-label style="direction: ltr" floating> {{"LastName" | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="registerData.last_name" name="lastname"></ion-input>
        </ion-item>


        <!--<ion-item  class="thin-item" >-->
            <!--<ion-label style="direction: rtl" floating>ایمیل</ion-label>-->
            <!--<ion-input class="ltr-input" style="direction: rtl" type="email" [(ngModel)]="registerData.email" name="Email"></ion-input>-->
        <!--</ion-item >-->

        <ion-item  class="thin-item" >
            <ion-label style="direction: ltr" floating> {{"Password" | translate}}</ion-label>
            <ion-input style="direction: ltr" type="password" [(ngModel)]="registerData.password" name="password"></ion-input>
        </ion-item>

        <ion-item  class="thin-item" >
            <ion-label style="direction: ltr" floating>{{"Company" | translate}}</ion-label>
            <ion-input style="direction: ltr" required type="text" [(ngModel)]="registerData.billing_address.company" name="billing_company"></ion-input>
        </ion-item>

        <ion-item   class="thin-item" >
            <div style="direction: ltr; color: gray" >{{"Email" | translate}}</div>
            <div class="ltr-input" style="direction: ltr">{{registerData.billing_address.phone}}</div>
        </ion-item>


   <!--     <ion-item  class="thin-item"  *ngIf="billing_states">
            &lt;!&ndash;<ion-label>
                {{"State" | translate}}
            </ion-label>
            <ion-select interface="popover" [(ngModel)]="registerData.billing_address.state" name="state">
                <div *ngFor="let field of billing_states | keys">
                    <ion-option value="{{field.key}}">{{field.value}}
                    </ion-option>
                </div>
            </ion-select>&ndash;&gt;
            <ion-label style="direction: ltr" floating>{{"State" | translate}}</ion-label>
            <ion-input style="direction: ltr" required type="text" [(ngModel)]="registerData.billing_address.state" name="state"></ion-input>

        </ion-item>


        <ion-item  class="thin-item"  *ngIf="!billing_states">
            <ion-label floating>{{"State" | translate}}
            </ion-label>
            <ion-input required type="text" [(ngModel)]="registerData.billing_address.state" name="state">
            </ion-input>
        </ion-item>-->

        <ion-item  class="thin-item" >
            <ion-label style="direction: ltr" floating>{{"City" | translate}}</ion-label>
            <ion-input style="direction: ltr" required type="text" [(ngModel)]="registerData.billing_address.city" name="billing_city"></ion-input>
        </ion-item>



        <ion-item  class="thin-item" >
            <ion-label style="direction: ltr" floating><!--آدرس (محله ، خیابان)--> {{"Address" | translate}}</ion-label>
            <ion-input style="direction: ltr" required type="text" [(ngModel)]="registerData.billing_address.address_1" name="billing_address_1"></ion-input>
        </ion-item>

        <ion-item  class="thin-item" >
            <ion-label style="direction: ltr" floating><!--آدرس (کوچه ، پلاک،...)--> {{"StreetAddress" | translate}}</ion-label>
            <ion-input style="direction: ltr" required type="text" [(ngModel)]="registerData.billing_address.address_2" name="billing_address_2"></ion-input>
        </ion-item>

        <ion-item  class="thin-item" style="padding-bottom: 20px; height: 100px;">
            <ion-label style="direction: ltr" floating>{{"Postcode" | translate}}</ion-label>
            <ion-input class="ltr-input" style="direction: ltr" required type="text" [(ngModel)]="registerData.billing_address.postcode" name="postcode"></ion-input>
        </ion-item>

<!--        <ion-item *ngIf="countries.country">-->
<!--            <ion-label>-->
<!--                کشور-->
<!--            </ion-label>-->
<!--            <ion-select interface="popover" [(ngModel)]="registerData.billing_address.country"-->
<!--                        (ionChange)="getBillingRegion($event,registerData.billing_address.country)"-->
<!--                        name="country">-->
<!--                <div *ngFor="let field of countries.country.countries | keys">-->
<!--                    <ion-option value="{{field.key}}"><span [innerHTML]="field.value"></span></ion-option>-->
<!--                </div>-->
<!--            </ion-select>-->
<!--        </ion-item>-->


        <div *ngIf="errors" class="error-message">
            <h2 *ngFor="let item of errors | keys">{{item.value.message}}
            </h2>
        </div>

        <button class="appbutton" ion-button type="submit" [disabled]="disableSubmit" (click)="registerCustomer()">
            {{"Register" | translate}}
        </button>

    </form>

</ion-content>
