<ion-header *ngIf="appsazSettings.imgTitle">
    <ion-navbar hideBackButton style="width: 100%; padding: 0px 4px">
        <ion-buttons style=" display: inline-block; width: 22%">
            <button menuToggle
                    style=" float: left; background-color: transparent; align-items: center; display: flex;">
                <img src="assets/imgs/menu3(1).png" style="width: 28px;">
            </button>
        </ion-buttons>

        <ion-buttons style=" display: inline-block; width: 50%; text-align: center">
            <button style="background-color: transparent;">
                <img src="assets/imgs/title.jpg" style=" height: 25px; margin-top: 0px; margin-bottom: -2px;">
            </button>
        </ion-buttons>


        <ion-buttons style="display: inline-block; width: 22%">
            <button (click)="getCart()" style="background-color: transparent;     float: right;">
                <ion-badge item-end class="cartBadge" *ngIf="values.count != 0" style="margin-right: 35px;">
                    {{values.count}}
                </ion-badge>

                <img src="assets/imgs/shopping-cart.png" style="width: 24px">

            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>


<ion-header *ngIf="!appsazSettings.imgTitle">
    <ion-navbar hideBackButton>
        <ion-buttons start style="
    position: absolute;
    right: 4px;
    top: 12px;">

            <button (click)="openSearch()" style="background-color: transparent;">

                <img src="assets/imgs/magnifier.png" style="width: 24px" class="icon-color-on-primary">

            </button>

            <button (click)="getCart()" style="background-color: transparent;">
                <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
                    {{values.count}}
                </ion-badge>

                <img src="assets/imgs/shopping-cart.png" style="width: 24px" class="icon-color-on-primary">

            </button>


        </ion-buttons>
        <ion-title class="catalog-title">
            {{appsazSettings.appNameFa}}
        </ion-title>
        <ion-buttons end style="left: 0; position: absolute">
            <button menuToggle style="background-color: transparent; align-items: center;
    display: flex;">
                <!--<ion-icon style="background-color: transparent" name="menu"></ion-icon>-->
                <img src="assets/imgs/menu3(1).png" style="width: 30px;">
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="shop-background">

    <div *ngIf="!service?.homeSliders  && entered" style="margin-top: 50px; margin-bottom: 50px; height: 100px"
         [@myBlockAnimation]>
        <ion-spinner spinner="ripple" class="loading-spinner">
        </ion-spinner>
    </div>


    <div *ngIf=" appsazSettings.advanced && service?.homeSliders  && entered" [@myBlockAnimation]>
        <ion-slides *ngIf="service.homeSliders && service.homeSliders.length" interal_rtl page dir="ltr" pager
                     paginationType="bullets" class="home-slider">
            <ion-slide *ngFor="let banner of service.homeSliders; let i = index"  style="height: 50vw; width: 100vw;">
              <!--  <img style="height: 50vw; width: 100vw; object-fit: cover" (click)="loadBannerLink(i)" src="{{banner.image}}">-->
                <img style="height: 50vw; width: 100vw; object-fit: cover"  src="{{banner.image}}" (click)="loadBannerLink(banner.type , banner)">
            </ion-slide>

        </ion-slides>
    </div>


    <div *ngIf=" (!appsazSettings.advanced) && (localSlides.length)  && entered" [@myBlockAnimation]>
        <ion-slides interal_rtl pager loop autoplay="3200" class="home-slider">
            <ion-slide *ngFor="let banner of localSlides; let i = index" style="height: 50vw; width: 100vw;">
                <img style="height: 50vw; width: 100vw; object-fit: cover" src="{{banner}}">
            </ion-slide>

        </ion-slides>
    </div>


    <ion-scroll scrollX="true" style=" white-space: nowrap; height: 80px; margin-top: -25px;">

        <div style="text-align: center" *ngIf="!categoryService.categories_loading && entered" [@myBlockAnimation]>
            <div class="category-home-div"
                 *ngFor="let item of categoryService.mainCategories" (click)="getCategory(item.id, item.slug, item.name)"
                 style="margin: 5px 0px 5px 0px">

                <ion-buttons class="home-category-button">
                    {{item.name}}
                </ion-buttons>
            </div>
        </div>
    </ion-scroll>



    <!--flash sale products-->


<!--    <div style="margin: 5px 0px">-->

<!--        <div class="flash-sale-text">-->
<!--            تخفیف زمان دار-->
<!--        </div>-->

<!--        <div style="display: inline-block; float:left; margin: 0px 5px 0px 5px">-->

<!--            <div class="timer-blocks">-->
<!--                01-->
<!--            </div>-->

<!--            :-->

<!--            <div class="timer-blocks">-->
<!--                45-->
<!--            </div>-->

<!--            :-->

<!--            <div class="timer-blocks">-->
<!--                20-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->


<!--    <div *ngIf="onsaleService.onSales && !onsaleService.onsale_loading  && entered" style="text-align: center;"-->
<!--         [@myBlockAnimation]>-->
<!--        <ion-scroll scrollX="true" class="product-scroll-box">-->
<!--            <div *ngFor="let item of onsaleService.onSales;  let i = index" style="display: inline-block; direction: rtl;">-->
<!--                <div class="product-card-thin" (click)="getProduct(item)">-->

<!--                    <img class="product-pic" *ngIf="!item.images[0]" src="assets/imgs/placeholder.png" >-->
<!--                    <img class="product-pic" *ngIf="item.images[0]" src="{{item.images[0].src}}"  >-->

<!--                    <div class="product-title" *ngIf="item.name">{{item.name}}</div>-->
<!--                    <div class="product-title" *ngIf="item.title">{{item.title}}</div>-->

<!--                    <div *ngIf="item.stock_status != 'outofstock' && item.sale_price" class="item-discount-price ltr">-->
<!--                        <div class="home-card-sale-price">تومان</div>-->
<!--                        <div class="home-card-sale-price">-->
<!--                            {{1 * item.regular_price | numberSeparator}}-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">-->

<!--                        <div *ngIf="item.stock_status != 'outofstock'" class="product-price">-->
<!--                            <div *ngIf="item.price!=''">-->
<!--                                <div style="display:inline-block;"> {{1 * item.price | numberSeparator}}</div>-->
<!--                                <div style="display:inline-block;"> تومان</div>-->
<!--                            </div>-->


<!--                            <div *ngIf="item.price==''" class="soon-tag">-->
<!--                                {{appsazSettings.nopriceTag}}-->
<!--                            </div>-->

<!--                        </div>-->

<!--                        <div *ngIf="item.stock_status == 'outofstock'" class="product-price">-->
<!--                            <div class="out-of-stock-tag">-->
<!--                                ناموجود-->
<!--                            </div>-->
<!--                        </div>-->


<!--&lt;!&ndash;                        <div style="float: right; direction: rtl;">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="(item.average_rating | round) >0" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/ic_star.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="(item.average_rating | round) >1" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/ic_star.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="(item.average_rating | round) >2" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/ic_star.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="(item.average_rating | round) >3" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/ic_star.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="(item.average_rating | round) >4" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/ic_star.png">&ndash;&gt;-->


<!--&lt;!&ndash;                                <img *ngIf="5 - (item.average_rating | round) > 0" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/stargray.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="5 - (item.average_rating | round) > 1" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/stargray.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="5 - (item.average_rating | round) > 2" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/stargray.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="5 - (item.average_rating | round) > 3" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/stargray.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="5 - (item.average_rating | round) > 4" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/stargray.png">&ndash;&gt;-->

<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->


<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </ion-scroll>-->
<!--    </div>-->






<!--    <div [@myBlockAnimation]  style="width: 100%; object-fit: cover">-->
<!--                <img style="height: 33.33vw; width: 100vw; object-fit: cover"-->
<!--                     src="assets/imgs/banner233.png">-->
<!--    </div>-->


<!--    <div style="display: inline-block; text-align: center">-->


<!--        <div [@myBlockAnimation]  style="width: 44%; object-fit: cover; margin: 0px 2%; display: inline-block">-->
<!--            <img style="height: 30vw; width: 50vw; object-fit: cover"-->
<!--                 src="assets/imgs/banner3455.jpg">-->
<!--        </div>-->



<!--        <div [@myBlockAnimation]  style="width: 44%; object-fit: cover;  margin: 0px 2%; display: inline-block">-->
<!--            <img style="height: 30vw; width: 50vw; object-fit: cover"-->
<!--                 src="assets/imgs/banner3443.png">-->
<!--        </div>-->



<!--    </div>-->



    <!--featured products-->


    <div *ngIf="featuredService.featured && !featuredService.featured_loading" style="text-align: center;" [@myBlockAnimation]>

        <div class="special-title" (click)="featuredList()">{{"Featured Products" | translate}}</div>

        <ion-scroll scrollX="true" class="product-scroll-box">
            <div *ngFor="let item of featuredService.featured;  let i = index" style="display: inline-block; direction: ltr;">
                <div class="product-card-thin" (click)="getProduct(item)">


                    <img class="new-badge" *ngIf="item.downloadable " src="assets/imgs/cloud-computing.png">


                    <img class="product-pic" *ngIf="!item.images[0]" src="assets/imgs/placeholder.png">
                    <img class="product-pic" *ngIf="item.images[0]" src="{{item.images[0].src}}">

                    <div class="product-title" *ngIf="item.name">{{item.name}}</div>
                    <div class="product-title" *ngIf="item.title">{{item.title}}</div>

                    <div *ngIf="item.stock_status != 'outofstock' && item.sale_price" class="item-discount-price ltr">
                        <div class="home-card-sale-price">{{"currency" | translate}}</div>
                        <div class="home-card-sale-price">
                            {{1 * item.regular_price | numberSeparator}}
                        </div>
                    </div>

                    <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">

                        <div *ngIf="item.stock_status != 'outofstock'" class="product-price">
                            <div *ngIf="item.price!=''">
                                <div style="display:inline-block;"> {{1 * item.price | numberSeparator}}</div>
                                <div style="display:inline-block;"> {{"currency" | translate}}</div>
                            </div>


                            <div *ngIf="item.price==''" class="soon-tag">
                                {{appsazSettings.nopriceTag}}
                            </div>

                        </div>

                        <div *ngIf="item.stock_status == 'outofstock'" class="product-price">
                            <div class="out-of-stock-tag">
                                {{"No Stock" | translate}}
                            </div>
                        </div>


<!--                        <div style="float: right; direction: rtl;">-->
<!--                            <div>-->
<!--                                <img *ngIf="(item.average_rating | round) >0" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >1" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >2" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >3" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >4" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->


<!--                                <img *ngIf="5 - (item.average_rating | round) > 0" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 1" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 2" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 3" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 4" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->

<!--                            </div>-->
<!--                        </div>-->


                    </div>
                </div>
             <!--   <div (click)="addToCart(item, i)">Add to cart</div>-->
            </div>
        </ion-scroll>
    </div>



    <!--on sale products-->

    <div *ngIf="onsaleService.onsale_loading" style="margin-top: 120px;
    margin-bottom: 120px;">
        <ion-spinner spinner="ripple" class="loading-spinner">
        </ion-spinner>
    </div>


    <div *ngIf="onsaleService.onSales && !onsaleService.onsale_loading  && entered && onsaleService.onSales.length>0" style="text-align: center;"
         [@myBlockAnimation]>

        <div class="special-title" (click)="onsaleList()"> {{"Best Offers" | translate}} </div>

        <ion-scroll scrollX="true" class="product-scroll-box">
            <div *ngFor="let item of onsaleService.onSales;  let i = index" style="display: inline-block; direction: ltr;">
                <div class="product-card-thin" (click)="getProduct(item)">

                    <img class="product-pic" *ngIf="!item.images[0]" src="assets/imgs/placeholder.png">
                    <img class="product-pic" *ngIf="item.images[0]" src="{{item.images[0].src}}" >

                    <div class="product-title" *ngIf="item.name">{{item.name}}</div>
                    <div class="product-title" *ngIf="item.title">{{item.title}}</div>

                    <div *ngIf="item.stock_status != 'outofstock' && item.sale_price" class="item-discount-price ltr">
                        <div class="home-card-sale-price">{{"currency" | translate}}</div>
                        <div class="home-card-sale-price">
                            {{1 * item.regular_price | numberSeparator}}
                        </div>
                    </div>

                    <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">

                        <div *ngIf="item.stock_status != 'outofstock'" class="product-price">
                            <div *ngIf="item.price!=''">
                                <div style="display:inline-block;"> {{1 * item.price | numberSeparator}}</div>
                                <div style="display:inline-block;"> {{"currency" | translate}}</div>
                            </div>


                            <div *ngIf="item.price==''" class="soon-tag">
                                {{appsazSettings.nopriceTag}}
                            </div>

                        </div>

                        <div *ngIf="item.stock_status == 'outofstock'" class="product-price">
                            <div class="out-of-stock-tag">
                                {{"No Stock" | translate}}
                            </div>
                        </div>


<!--                        <div style="float: right; direction: rtl;">-->
<!--                            <div>-->
<!--                                <img *ngIf="(item.average_rating | round) >0" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >1" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >2" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >3" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item.average_rating | round) >4" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->


<!--                                <img *ngIf="5 - (item.average_rating | round) > 0" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 1" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 2" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 3" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item.average_rating | round) > 4" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->

<!--                            </div>-->
<!--                        </div>-->


                    </div>
                </div>
            </div>
        </ion-scroll>
    </div>



<!--    <div [@myBlockAnimation]  style="width: 100%; object-fit: cover">-->
<!--        <img style="height: 33.33vw; width: 100vw; object-fit: cover"-->
<!--             src="assets/imgs/banner4666.jpg">-->
<!--    </div>-->



<!--    <div [@myBlockAnimation]  style="width: 100%; object-fit: cover">-->
<!--        <img style="height: 33.33vw; width: 100vw; object-fit: cover"-->
<!--             src="assets/imgs/banner4566.png">-->
<!--    </div>-->




<!--    <div style="display: inline-block; text-align: center">-->


<!--        <div [@myBlockAnimation]  style="width: 44%; object-fit: cover; margin: 0px 2%; display: inline-block">-->
<!--            <img style="height: 30vw; width: 50vw; object-fit: cover"-->
<!--                 src="assets/imgs/banner5622.jpg">-->
<!--        </div>-->



<!--        <div [@myBlockAnimation]  style="width: 44%; object-fit: cover;  margin: 0px 2%; display: inline-block">-->
<!--            <img style="height: 30vw; width: 50vw; object-fit: cover"-->
<!--                 src="assets/imgs/banner4556.jpg">-->
<!--        </div>-->



<!--    </div>-->



    <div *ngIf=" appsazSettings.advanced && service.top_seller_loading"
         style="margin-top: 120px; margin-bottom: 120px;">
        <ion-spinner spinner="ripple" class="loading-spinner">
        </ion-spinner>
    </div>


    <div *ngIf="appsazSettings.advanced && topsellerService.topsellers[0]  && entered" style="text-align: center;"
         [@myBlockAnimation]>

        <div class="special-title" (click)="topsellersList()"> {{"Top Sellers" | translate}}</div>

        <ion-scroll scrollX="true" class="product-scroll-box">
            <div *ngFor="let item of  topsellerService.topsellers;  let i = index"
                 style="display: inline-block; direction: ltr;">

                <div class="product-card-thin" (click)="getProduct(item['product'])">

                    <img class="product-pic" *ngIf="!item['product'].images[0]" src="assets/imgs/placeholder.png" >
                    <img class="product-pic" *ngIf="item['product'].images[0]" src="{{item['product'].images[0].src}}" >


                    <div class="product-title" *ngIf="item['product'].name">{{item['product'].name}}</div>
                    <div class="product-title" *ngIf="item['product'].title">{{item['product'].title}}</div>

                    <div *ngIf="item['product'].in_stock && item['product'].sale_price" class="item-discount-price ltr">
                        <div class="home-card-sale-price">{{"currency" | translate}}</div>
                        <div class="home-card-sale-price">
                            {{1 * item['product'].regular_price | numberSeparator}}
                        </div>
                    </div>

                    <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">

                        <div *ngIf="item['product'].in_stock" class="product-price">
                            <div *ngIf="item['product'].price!=''">
                                <div style="display:inline-block;"> {{1 * item['product'].price | numberSeparator}}</div>
                                <div style="display:inline-block;"> {{"currency" | translate}}</div>
                            </div>


                            <div *ngIf="item['product'].price==''" class="soon-tag">
                                {{appsazSettings.nopriceTag}}
                            </div>

                        </div>


                        <div *ngIf="!item['product'].in_stock" class="product-price">
                            <div class="out-of-stock-tag">
                                {{"No Stock" | translate}}
                            </div>
                        </div>


<!--                        <div style="float: right;">-->

<!--                            <div>-->
<!--                                <img *ngIf="(item['product'].average_rating | round) >0" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item['product'].average_rating | round) >1" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item['product'].average_rating | round) >2" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item['product'].average_rating | round) >3" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->
<!--                                <img *ngIf="(item['product'].average_rating | round) >4" class="item-rate-star"-->
<!--                                     src="assets/imgs/ic_star.png">-->


<!--                                <img *ngIf="5 - (item['product'].average_rating | round) > 0" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item['product'].average_rating | round) > 1" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item['product'].average_rating | round) > 2" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item['product'].average_rating | round) > 3" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->
<!--                                <img *ngIf="5 - (item['product'].average_rating | round) > 4" class="item-rate-star"-->
<!--                                     src="assets/imgs/stargray.png">-->

<!--                            </div>-->
<!--                        </div>-->


                    </div>
                </div>
            </div>
        </ion-scroll>
    </div>




<!--    <div [@myBlockAnimation]  style="width: 100%; object-fit: cover">-->
<!--        <img style="height: 33.33vw; width: 100vw; object-fit: cover"-->
<!--             src="assets/imgs/banner45555.jpg">-->
<!--    </div>-->




<!--    <div *ngIf="service.all_products_loading  && entered" style="margin-top: 120px; margin-bottom: 120px;"-->
<!--         [@myBlockAnimation]>-->
<!--        <ion-spinner spinner="ripple" class="loading-spinner">-->
<!--        </ion-spinner>-->
<!--    </div>-->

<!--    <div *ngIf="service?.products?.products" style="direction: rtl;text-align: center;">-->
<!--        <div *ngIf="service?.products.products.length">-->

<!--            <div class="special-title">-->
<!--                سایر محصولات-->
<!--            </div>-->

<!--            <div *ngFor="let item of service.products.products;  let i = index"-->
<!--                 style="display: inline-block">-->
<!--                <div class="product-card" (click)="getProduct(item)">-->
<!--                    <img *ngIf="item.images[0]" class="product-pic" src="{{item.images[0].src}}"  >-->
<!--                    <img *ngIf="!item.images[0]" class="product-pic" src="assets/imgs/placeholder.png" >-->


<!--                    <div class="product-title" *ngIf="item.name">{{item.name}}</div>-->
<!--                    <div class="product-title" *ngIf="item.title">{{item.title}}</div>-->

<!--                    <div *ngIf="item.in_stock && item.sale_price" class="item-discount-price ltr">-->
<!--                        <div class="home-card-sale-price">تومان</div>-->
<!--                        <div class="home-card-sale-price">{{1 * item.regular_price |-->
<!--                            numberSeparator}}-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">-->

<!--                        <div *ngIf="item.in_stock" class="product-price">-->
<!--                            <div *ngIf="item.price!=''">-->
<!--                                <div style="display:inline-block;"> {{1 * item.price | numberSeparator}}</div>-->
<!--                                <div style="display:inline-block;"> تومان</div>-->
<!--                            </div>-->


<!--                            <div *ngIf="item.price==''" class="soon-tag">-->
<!--                                {{appsazSettings.nopriceTag}}-->
<!--                            </div>-->

<!--                        </div>-->

<!--                        <div *ngIf="!item.in_stock" class="product-price">-->
<!--                            <div class="out-of-stock-tag">-->
<!--                                ناموجود-->
<!--                            </div>-->
<!--                        </div>-->


<!--&lt;!&ndash;                        <div style="float: right;">&ndash;&gt;-->


<!--&lt;!&ndash;                            <div>&ndash;&gt;-->


<!--&lt;!&ndash;                                <img *ngIf="(item.average_rating | round) >0" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/ic_star.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="(item.average_rating | round) >1" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/ic_star.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="(item.average_rating | round) >2" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/ic_star.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="(item.average_rating | round) >3" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/ic_star.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="(item.average_rating | round) >4" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/ic_star.png">&ndash;&gt;-->


<!--&lt;!&ndash;                                <img *ngIf="5 - (item.average_rating | round) > 0" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/stargray.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="5 - (item.average_rating | round) > 1" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/stargray.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="5 - (item.average_rating | round) > 2" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/stargray.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="5 - (item.average_rating | round) > 3" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/stargray.png">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img *ngIf="5 - (item.average_rating | round) > 4" class="item-rate-star"&ndash;&gt;-->
<!--&lt;!&ndash;                                     src="assets/imgs/stargray.png">&ndash;&gt;-->

<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->


<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="has_more_items">-->
<!--        <ion-infinite-scroll-content loadingSpinner="crescent"-->
<!--                                     loadingText="بارگذاری سایر کالاها"></ion-infinite-scroll-content>-->
<!--    </ion-infinite-scroll>-->
</ion-content>
