<ion-header>
    <ion-navbar >
        <ion-buttons start style=" position: absolute; right: 4px;top: 12px;">
            <button (click)="getCart()" style="background-color: transparent;">
                <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
                    {{values.count}}
                </ion-badge>

                <img src="assets/imgs/shopping-cart.png" style="width: 24px">

            </button>
        </ion-buttons>
        <ion-title>
            {{"LastOrders" | translate}}
        </ion-title>

    </ion-navbar>
</ion-header>



<ion-content class="shop-background">

    <ion-spinner *ngIf="!orders" name="crescent" >
    </ion-spinner>

    <div *ngIf="values.isLoggedIn" style="margin-top: 15px; direction: ltr ">
        <div *ngIf="orders">

                <div *ngIf="orders.length == 0" class="no-order-msg">
                  <!-- شما تا کنون سفارشی ثبت نکرده اید.-->
                    {{"Therearenoorders." | translate}}
                </div>


            <div *ngIf="orders.length">
                <div style="margin-top: 20px" *ngFor="let item of orders; let i =index">
                    <div class="order-card" >

                        <div class="order-text" style="height: 0px;">
                            <div class="order-label" >
                                {{"Orderdate" | translate}} :
                                <!-- {{item.date_created | date:'medium'}}-->
                            </div>
                            <div class="order-val" >
                               <!-- {{item.date_created | jalali}}-->
                                {{item.date_created | date:'medium'}}
                            </div>
                        </div>

                        ‌
                        <div class="order-text" style="height: 0px;">
                            <div class="order-label">
                                {{"OrderNumber" | translate}} :
                            </div>
                            <div class="order-val" >
                                {{item.number}}
                            </div>
                        </div>
                        ‌
                        <div class="order-text">
                            <div class="order-label">
                                {{"Shipto" | translate}} :
                            </div>
                            <div class="order-val">
                                {{item.shipping.first_name}} {{item.shipping.last_name}}
                                , {{item.shipping.address_1}} , {{item.shipping.address_2}}
                            </div>
                        </div>



                        <div class="order-text">
                            <div class="order-label">
                                {{"Status" | translate}} :
                            </div>
                            <div class="order-val-pending-payment"  *ngIf="item.status=='pending payment'">
                               <!-- در انتظار پرداخت-->
                                {{"Pending" | translate}}
                            </div>
                            <div class="order-val-failed"  *ngIf="item.status=='failed'">
                              <!--  ناموفق-->
                                {{"Failed" | translate}}
                            </div>
                            <div class="order-val-processing"  *ngIf="item.status=='processing'">
                               <!-- در حال انجام-->
                                {{"Processing" | translate}}
                            </div>
                            <div class="order-val-completed"   *ngIf="item.status=='completed'">
                                <!--تکمیل شده-->
                                {{"Completed" | translate}}
                            </div>
                            <div class="order-val-on-hold"  *ngIf="item.status=='on-hold'">
                              <!--  در انتظار بررسی-->
                                {{"On hold" | translate}}
                            </div>
                            <div class="order-val-cancelled"  *ngIf="item.status=='cancelled'">
                               <!-- لغو شده-->
                                {{"Cancelled" | translate}}
                            </div>
                            <div class="order-val-refunded"  *ngIf="item.status=='refunded'">
                                <!--مسترد شده-->
                                {{"Refunded" | translate}}
                            </div>

                        </div>


                        <div *ngIf="item.meta_data[1] && item.meta_data[1].value && item.meta_data[1].value.length> 0" class="order-text">
                            <div class="order-label" >
                                {{"Delivery date" | translate}} :
                            </div>
                            <div class="order-val" >
                                <!-- {{item.date_created | jalali}}-->
                                {{item.meta_data[1].value}}
                            </div>
                        </div>


                        <hr>

                        <div (click)="getOrderDetails(item.id)" class="order-text-details">
                            <div class="order-label-details" >
                                {{"ViewDetails" | translate}}
                            </div>

                            <img class="icon-color-primary" src="assets/imgs/arrowright.png" style="width: 20px; height: 20px; margin-right: 16px; float: right">
                        </div>

                        <hr>

                        <div *ngIf="item.status == 'on-hold'">
                            <button class="appbutton order-text" (click)="cancelOrder(item.id)"
                                    [disabled]="!(item.status == 'on-hold')" ion-button>
                                {{"Cancel" | translate}}
                            </button>

                            <div style=" text-align: center;">
                                <div class="order-cancel">
                                 <!--   (لغو سفارش تنها تا قبل از تایید آن توسط مدیر امکان پذیر است)-->
                                </div>
                            </div>

                            <div>
                                <button (click)="orderAgain(item.number, i)" [disabled]="selectedOrderIndex== i && disableBtn" class="appbutton order-text" ion-button>order again</button>
                            </div>


                        </div>

                    </div>


                   <!-- <div *ngIf="orderChanges">
                        <div *ngFor="let product of orderItems">
                            <div>product_id: {{product.product_id}}</div>
                            <div>naeme : {{product.name}}</div>
                            <div>qty : {{product.qty}}</div>
                            <div>line_total_old : {{product.line_total_old}}</div>
                            <div>line_total_new : {{product.line_total_new}}</div>
                            <div>line_tax : {{product.line_tax}}</div>
                            <div>variationId : {{product.variationId}}</div>
                            <div>stock_amount : {{product.stock_amount}}</div>

                            <div *ngIf="product.line_total_old != product.line_total_new">
                                Price of this product has been changed.
                            </div>

                            <div *ngIf="product.stock_amount != -1 ">
                                <div *ngIf="product.stock_amount == 0">
                                    This product is out of stock.
                                </div>

                                <div *ngIf="product.qty > product.stock_amount">
                                    Stock amoun of this product is less your former order.
                                </div>
                            </div>


                            <button (click)="addToCart(product)"   ion-button>Add to cart</button>

                            <br>
                        </div>
                    </div>-->

                </div>
            </div>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="has_more_items">
                <ion-infinite-scroll-content  loadingSpinner="crescent" loadingText="">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>


</ion-content>
