<ion-header>
    <ion-navbar>

        <ion-title class="catalog-title">
            {{"Cart"| translate}}
        </ion-title>

    </ion-navbar>

</ion-header>


<ion-content class="shop-background">
    <ion-spinner *ngIf="!cart" name="crescent"></ion-spinner>

    <div *ngIf="cart">
        <div class="empty" *ngIf="cart?.items?.length == 0" style="text-align: center; margin-top: 25vh;">
            <p>{{"Your cart is empty" | translate}}! </p>
            <button class="appbutton" ion-button type="submit" (click)="gohome()" style="height: auto">
                <div class="appbutton-text">
                    {{"Add some products available in our menu to checkout" | translate}}
                </div>
            </button>
        </div>
        <div *ngIf="cart?.items" style="margin-bottom: 210px">

            <div class="cart-items">
                <ion-list>
                    <div class="cart-list" *ngFor="let item of cart.items">
                        <!--                        <ion-item no-lines *ngIf="item.quantity != 0" class="cart-card box-shadow">-->
                        <!--                            <ion-thumbnail item-left class="shoppingCartItemImageContainer"-->
                        <!--                                           style="margin: 0 !important;">-->
                        <!--                                <img src="{{item.thumbnail}}">-->
                        <!--                            </ion-thumbnail>-->
                        <!--                            <h2 wrap-text class="shoppingCartItemTitle">{{item?.product_name}}</h2>-->
                        <!--                            <h3 wrap-text class="shoppingCartItemUnitPrice">-->
                        <!--                                {{"Price" | translate}}: {{item.line_subtotal | numberSeparator}}-->
                        <!--                            </h3>-->
                        <!--                            <div class="shoppingCartItemFooterTrashContainer">-->
                        <!--                                <div style="width: 100%; text-align: left">-->
                        <!--                                    <a (click)="delete( item.product_id )">-->
                        <!--                                        <ion-icon name="trash" class="shoppingCartItemFooterTrashIcon"-->
                        <!--                                                  style="color: white"></ion-icon>-->
                        <!--                                    </a>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </ion-item>-->

                        <div *ngIf="item.quantity != 0" class="cart-card box-shadow">

                            <div style="flex: 5;">
                                <div (click)="openItem(item.product_id)"
                                     style="margin-bottom: 10px;">{{item.product_name}}</div>

                                <div (click)="openItem(item.product_id)">
                                    <div class="cart-price">
                                        <div style="display: inline-block;">{{"Price" | translate}}:</div>
                                        <div style="display: inline-block; margin-bottom: 10px">
                                            {{(item.line_subtotal / item.quantity) | numberSeparator}}
                                            {{"currency" | translate}}
                                        </div>
                                    </div>


                                    <div class="cart-price">
                                        <div style="display: inline-block;">{{"Totals" | translate}}:</div>
                                        <div style="display: inline-block; margin-bottom: 10px">
                                            {{item.line_total | numberSeparator }}
                                            {{"currency" | translate}}
                                        </div>
                                    </div>

                                </div>

                                <div *ngFor="let varr of item.variation | keys" class="cart-vars">

                                    {{varr.key | attributeKey}} : {{varr.value}}
                                </div>

                                <div class="cart-del"
                                     (click)="!quantityLoading && emptyCart(item.product_id )"> {{"Remove" | translate}} </div>
                            </div>


                            <ion-spinner *ngIf="quantityLoading && quantityLoadingProductId == item.product_id"
                                         name="crescent"
                                         style="position: absolute; margin-top: 10%; margin-right: 45%;"></ion-spinner>


                            <div style="flex: 3">

                                <div style="width: 120px; height: 120px;">
                                    <img *ngIf="item.thumbnail.indexOf('<img') == -1"
                                         style="height: 110px; margin: auto; display: block;"
                                         src="{{ item.thumbnail }}">
                                    <img *ngIf="item.thumbnail.indexOf('<img') != -1"
                                         style="height: 110px; margin: auto; display: block;"
                                         src="assets/imgs/placeholder.png">
                                </div>

                                <div style="display: flex; width: 115px; text-align: center;">
                                    <img style="flex: 0; width: 20px;height: 20px;"
                                         *ngIf="item.inventory > item.quantity"
                                         (click)="!quantityLoading && addToCart(item.product_id)"
                                         src="assets/imgs/plus2.png">
                                    <div style="flex: 1;">{{item.quantity}}</div>
                                    <img style="flex: 0; width: 20px; height: 20px;" [hidden]="item.quantity == 0"
                                         (click)="!quantityLoading && deleteFromCart(item.product_id)"
                                         src="assets/imgs/minus.png">
                                </div>

                                <div *ngIf="!(item.inventory > item.quantity)" text-center class="rtl"> you reached this product's
                                    inventory.
                                </div>
                            </div>
                        </div>

                    </div>
                </ion-list>
            </div>

            <!--            <div *ngIf="cart.items.length != 0" style="position: absolute; bottom: 60px; width: 100%;">-->

            <!--                <ion-list class="totals" *ngIf="cart?.subtotal"-->
            <!--                          style="margin: 9px; border: 1px solid white; border-radius: 5px; color: white">-->

            <!--                    <ion-row class="cartTotalRow">-->
            <!--                        <ion-col width-75 style="background-color: #be1522; border-radius: 20px; text-align: center">-->
            <!--                            <ion-label>{{"SubTotal" | translate}}-->
            <!--                            </ion-label>-->
            <!--                        </ion-col>-->
            <!--                        <ion-col width-25 text-left>-->
            <!--                            <ion-label>{{1 * cart?.subtotal | numberSeparator}} تومان-->
            <!--                            </ion-label>-->
            <!--                        </ion-col>-->
            <!--                    </ion-row>-->

            <!--                    <ion-row *ngIf="cart?.discount_total && cart?.discount_total != 0"-->
            <!--                             class="cartTotalRow">-->
            <!--                        <ion-col width-75 class="remove-coupon"-->
            <!--                                 style="background-color: #be1522;text-align: center; border-radius: 20px">-->
            <!--                            <ion-label>{{"Coupons" | translate}} - {{cart.coupons[0]}}-->
            <!--                                <a (click)="removeCoupon()"> {{"(Remove)" | translate}}-->
            <!--                                </a>-->
            <!--                            </ion-label>-->
            <!--                        </ion-col>-->
            <!--                        <ion-col width-25 text-left>-->
            <!--                            <ion-label>- {{1 * cart.discount_total | numberSeparator}} تومان-->
            <!--                            </ion-label>-->
            <!--                        </ion-col>-->
            <!--                    </ion-row>-->

            <!--                    <ion-row class="cartTotalRow">-->
            <!--                        <ion-col width-75-->
            <!--                                 style="text-align: center; background-image: linear-gradient(to right, #189f8e, #189f8e); border-radius: 20px">-->
            <!--                            <ion-label>-->
            <!--                                <b> {{"Grand Total" | translate}}-->
            <!--                                </b>-->
            <!--                            </ion-label>-->
            <!--                        </ion-col>-->
            <!--                        <ion-col width-25 text-left>-->
            <!--                            <ion-label><b> {{1 * cart.content_total | numberSeparator}} تومان</b>-->
            <!--                            </ion-label>-->
            <!--                        </ion-col>-->
            <!--                    </ion-row>-->
            <!--                </ion-list>-->
            <!--            </div>-->
        </div>
    </div>
</ion-content>

<!--<div *ngIf="cart">-->
<!--    <ion-footer *ngIf="cart.items.length != 0">-->

<!--        <button ion-button full color="button-color" no-padding no-margin text-uppercase [disabled]='disableSubmit'-->
<!--                (click)="checkout()"-->
<!--                style="color: #fff; text-align: center; background-image: linear-gradient(to right, #189f8e, #2fe181); height: 3.2em;  font-weight: bolder;">{{Checkout | translate}}-->
<!--        </button>-->
<!--    </ion-footer>-->
<!--</div>-->

<ion-footer *ngIf="cart && cart.items.length != 0" no-border no-lines>
    <div *ngIf="appsazSettings.advanced">
        <div class="discount-code-div box-shadow">
            <img (click)="couponDetails()"
                 class="discount-code-img icon-color-on-primary"
                 src="assets/imgs/discount-symbol.png">
            <div class="discount-code-txt" (click)="couponDetails()"> {{"Coupon Code" | translate}} </div>
        </div>
    </div>


    <ion-toolbar *ngIf="cart.content_total" style="padding: 0px; margin: 0px;height: 100px ">

        <div class="cart-footer-item1">
            <!-- {{"Subtotal ex tax" | translate}}-->
            {{"Total" | translate}}
          <!--  {{(1 * cart.subtotal) - (1 * cart.discount_total) | numberSeparator}}-->
            {{cart.content_total | numberSeparator}} {{"currency" | translate}}
        </div>


        <div [ngClass]="enableCheckout?'cart-footer-item2':'cart-footer-item3'"
             (click)="checkout()">
            <!--{{Checkout | translate}}-->
            Checkout
        </div>


    </ion-toolbar>
</ion-footer>
