.mycart {
  .text-input {
    margin: 0 !important;
  }

  .text-input-ios {
    margin: 0 !important;
    //text-align: right !important;
    text-align: $align-item !important;
  }

  .text-input-md {
    margin: 0 !important;
    //text-align: right !important;
    text-align: $align-item !important;
  }

  ion-input input {
    margin: 0 !important;
  }

}


.coupon-input {
  //margin-right: 0px;
  margin-#{$align-item}: 0;
  margin-top: 3px;
  padding: 5px;

  input {
    margin: 0 !important;
    //text-align: right !important;
    text-align: $align-item !important;
  }
}

.cart-card {
  color: color($appsazShop, text, base);
  background-color: color($appsazShop, card-back, base);
  width: 90%;
  border-radius: 6px;
  padding: 10px 10px 5px 10px;
  display: flex;
  direction: rtl;
  //margin-right: 5%;
  margin-#{$align-item}: 5%;
  margin-top: 15px;
}

.cart-price {
  color: color($appsazShop, special, base);
}

.cart-vars {
  color: color($appsazShop, low-text, base);
  font-size: 12px;
}

.cart-del {
  margin-bottom: 10px;
  color: color($appsazShop, delete, base);
  /*width: 60px;*/
}

.cart-footer-item1 {
  text-align: center;
  height: 50px;
  background-color: color($appsazShop, special, base);
  color: color($appsazShop, special-text, base);
  width: 100%;
  padding-top: 13px;
  font-size: 15px;
}

.cart-footer-item2 {
  text-align: center;
  height: 50px;
  background-color: color($appsazShop, primary, base);
  color: color($appsazShop, header-text, base);
  width: 100%;
  padding-top: 13px;
  font-size: 15px;
}

.cart-footer-item3 {
  text-align: center;
  height: 50px;
  background-color: color($appsazShop, primary, base);
  color: color($appsazShop, low-text, base);
  width: 100%;
  padding-top: 13px;
  font-size: 15px;
}

.discount-code {
  background-color: white !important;
  direction: rtl;
  font-size: 14px;
  height: 40px;
  border-top: 1px solid #bdbdbd;
}

.discount-code-bttn {
  background-color: color($appsazShop, special, base);
  color: #ffffff;
  box-shadow: none;
}


.discount-code-div {
  display: inline-block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: color($appsazShop, primary, base);
  text-align: center;
  padding-top: 6px;
  margin: 5px;
  //float: left;
  float: $align-item-opposite;
}

.discount-code-img {
  width: 15px;
  height: 15px;
  margin: auto;
}

.discount-code-txt {
  color: color($appsazShop, special-text, base);
  font-size: 10px;
  text-align: center;
}


.appbutton-text {
  white-space: normal;
  line-height: 210%;
}

