
<ion-header>
    <ion-navbar >

        <ion-title class="catalog-title">
            {{"Profile" | translate}}
        </ion-title>

    </ion-navbar>

</ion-header>

<ion-content >


    <div *ngIf="!values.isLoggedIn">
        <div class="login-box">

            <img style="width: 120px;" src="assets/imgs/appicon.png">

            <form class="login-form" *ngIf="!values.isLoggedIn" #f="ngForm">

                <ion-item class="login-item" >
                    <ion-input class="login-input" type="email" placeholder=" {{'email' | translate}}" required  [(ngModel)]="loginData.username" name="firstname"  ></ion-input>
                </ion-item>

                <ion-item class="login-item">
                    <ion-input  class="login-input" required type="password" placeholder="{{'password' | translate}}" [(ngModel)]="loginData.password" name="password" ></ion-input>
                </ion-item>

                <div (click)="forgotten()" class="forget-label">
                    <div style="text-align: left; margin: 0px 10px 0px 5px; display: inline-block;">
                       <!-- رمز عبور خود را فراموش کرده اید؟-->
                        {{"Forgot Password" | translate}}?
                    </div>
                    <ion-icon name="arrow-forward"></ion-icon>

                </div>

                <button class="appbutton" ion-button  [disabled]="disableSubmit" (click)="login()">
                    {{"Login" | translate}}
                </button>

                <div class="create-account-label" (click)="register()">
                   <!--ساخت حساب کاربری جدید-->
                    {{"Create New Account" | translate}}
                </div>


            </form>


            <div *ngIf="appsazSettings.demo" class="login-guide">
                <div>
                    <!--به منظور تست اپلیکیشن، میتوانید با-->
                    {{"You can login by this account info" | translate}}
                </div>
                <div>
                    <!-- نام کاربری-->
                    {{"Email" | translate}}
                    : appsaz.p@gmail.com
                    ,
                    <!--رمز عبور-->
                    {{"Password" | translate}}
                    : 1234
                </div>
                <div>
                    <!--   به عنوان کاربر نمونه وارد شوید.-->
                </div>
            </div>



            <div>
                <br>
                <hr>
                <div class="login-or" > OR </div>
                <button  (click)="googlePlusLogin()" [disabled]="disableBtn" class="google-login-btn">LOGIN WITH GOOGLE</button>
                <br><br>
            </div>

        </div>




    </div>

    <div *ngIf="values.isLoggedIn">

        <div class="login-welcome">
            <p>
                {{"Welcome" | translate}}
                {{service.loggedInCustomer['customer']['first_name']}}
                {{service.loggedInCustomer['customer']['last_name']}}
               <!-- عزیز خوش آمدید!-->

            </p>
        </div>

        <ion-spinner *ngIf="customerData_loading" name="crescent">
        </ion-spinner>


        <div *ngIf="!customerData_loading" class="login-box">
            <div>
                <div class="login-data-label">
                   <!-- نام کاربری شما:-->
                    {{"Username" | translate}}:
                </div>

                <div class="login-data-val">
                    {{service.loggedInCustomer['customer'].username}}
                </div>
            </div>

            <br>

            <!--<div style="display: flex">-->
                <!--<div style=" color: #b2b2b2; flex: 1">-->
                    <!--آدرس ایمیل:-->
                <!--</div>-->
                <!--<div style="flex: 1 ; color: black">-->
                    <!--{{service.loggedInCustomer['customer'].email}}-->
                <!--</div>-->
            <!--</div>-->
            <!--<br>-->

            <div>

                <div class="login-data-label">
                   <!-- شماره تماس:-->
                   <!-- {{"Phone" | translate}}:-->
                    {{"Email" | translate}}:
                </div>

                <div class="login-data-val">
                    {{service.loggedInCustomer['customer'].billing_address.phone}}
                </div>
            </div>

            <br>
            <div>
                <div class="login-data-label">
                   <!-- محل سکونت:-->
                    {{"Address" | translate}}:
                </div>

                <div class="login-data-val">
                    {{service.loggedInCustomer['customer'].billing_address.city}}  {{service.loggedInCustomer['customer'].billing_address.country}}
                </div>
            </div>

        </div>

        <br>
        <div>
            <button class="appbutton" (click)="subscribeMailpoet(service.loggedInCustomer['customer'].username)" ion-button>subscribe mailpoet</button>
        </div>

    </div>
</ion-content>




<ion-footer *ngIf="values.isLoggedIn" no-border np-lines>
    <ion-toolbar style="padding: 0px; margin: 0px; height: 45px ">

        <div style="display: flex !important;">

            <div class="login-footer" (click)="editInfo()">
                {{"Edit information" | translate}}
            </div>
        </div>

    </ion-toolbar>
</ion-footer>
