
<ion-header>
  <ion-navbar>

    <ion-title *ngIf="blog?.title"
               style="overflow: hidden; white-space: pre; text-align: center; width: 80%; margin-left: 10%; margin-right: 10%;"
               class="catalog-title">
      {{blog?.title.rendered}}
    </ion-title>

  </ion-navbar>

</ion-header>





<ion-content class="shop-background">

  <ion-spinner *ngIf="loading" name="crescent" style="margin-top: 50px" >
  </ion-spinner>


  <div class="about-div box-shadow about-div-blog" *ngIf="!loading">

    <div class="about-title-center">
      <b>{{blog.title.rendered}} </b>
    </div>

    <p class="blog-date" style="margin-bottom: 10px">
      {{blog.date | jalali}}
    </p>

    <div class="item-text-wrap about-content ltr" [innerHTML]='blog.content.rendered'>

    </div>


  </div>





</ion-content>

