@import "ionic.globals";


$font-path: "../assets/fonts";
@font-face {
  font-family: "iranSans";
  /*src: url("../assets/fonts/IRANSansWeb.ttf") format("truetype");*/
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

//$primary: #f06292;
$primary: #00944b;


$font-family-base: "iranSans";
$font-family-ios-base: "iranSans";
$font-family-md-base: "iranSans";
$font-family-wp-base: "iranSans";
$loading-md-background: transparent;
$loading-md-box-shadow: 0 0 0 0;
$loading-md-box-shadow: 0 0 0 0;
$loading-md-spinner-dots-color: $primary;
$loading-md-spinner-crescent-color: $primary;
$loading-md-spinner-bubbles-color: $primary;
$loading-md-spinner-color: $primary;
$app-direction: ltr;
$app-direction-opposite: rtl;
$align-item: left;
$align-item-opposite: right;
$text-color: #000;
$background-color: #fff;
$shadowlite: #f9ebf2;
$shadow: #4f4f4f;
$side-heading-color: $primary;
$toggle-button-color: $primary;
$min-banner-height: 7em;
$min-home-category-height: 8em;
$min-product-height: 12em;
$min-product-slider-height: 16em;
$menu-background-color: #fff;
$menu-text-color: #3d322e;
$menu-border-color: #ececec;
$app-light: $primary;
$app-dark: #3d322e;
$card-back: white;
$card-border: gray;
$text-dark: #3d322e;

$googleLoginBtn: #0087f3;


$colors: (
        primary: $primary,
        secondary: #4f4f4f,
        danger: darkred,
        light: #f4f4f4,
        dark: #3d322e,
        shadow: $primary,
        shadowlite: #f9ebf2,
        header: #424242,
        button-color: $primary,
        side-heading-color: $primary,
        icon-color: #424242,
);

$appsazShop: (
        primary: $primary,
        text: black,
        background: #efefef,
        button: $primary,
        button-text: #ffffff,

        //special: #7d003e,
        special: #faa61a,
        special-text: #ffffff,

        header: $primary,
        header-text: #ffffff, //texts used on primary color

        low-text: #858585,
        price: #006b00, //price on cards
        out-of-stock : darkred,
        //product-options : #7d003e,
        product-options : #faa61a,
        card-back: #ffffff,
        menu-text: black,
        card-border: gray,
        delete : darkred,
        home-category : #424242,
        home-category-text : white,
        /*splash-back : #720034,*/
        splash-back : #00944b,
        statusBar: #000000,

        input-border: lightgray,
);


@import "ionic.theme.default";
$ionicons-font-path: "../assets/fonts";
@import "ionicons";
