<ion-header >
    <ion-navbar>
        <ion-buttons start style="
    position: absolute;
    right: 4px;
    top: 12px;">
            <button (click)="getCart()" style="background-color: transparent;">
                <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
                    {{values.count}}
                </ion-badge>

                <img src="assets/imgs/shopping-cart.png" style="width: 24px">

            </button>
        </ion-buttons>

        <ion-title *ngIf="product?.product"
                   style="overflow: hidden; white-space: pre; text-align: center; width: 80%; margin-left: 10%; margin-right: 10%;"
                   class="catalog-title">
            {{product?.product?.title}}
        </ion-title>

    </ion-navbar>

</ion-header>
<ion-content  fullscreen class="shop-background" >


        <div *ngIf="loading">
            <skeleton-item height="250px" no-animated></skeleton-item>
            <div padding>
                <skeleton-item height="14px"></skeleton-item>

                <skeleton-item height="24px" style="margin-top: 20px"></skeleton-item>

            </div>
            <div padding>
                <skeleton-item height="70px" radius="5px"></skeleton-item>
            </div>

            <div padding>
                <skeleton-item height="150px" radius="1px"></skeleton-item>
            </div>
        </div>


    <div *ngIf="!loading" [@myBoxAnimation]>
        <div *ngIf="product?.product?.images">
            <ion-slides dir="ltr" pager  class="product-slider" paginationType="bullets">
                <ion-slide class="product-slide" *ngFor="let item of product?.product?.images; i as index">
                    <div class="swiper-zoom-container">


                        <img  (click)="openModal(i)" class="product-slide-img"
                             src="{{item.src}}" onError="this.src='assets/imgs/placeholder.png'"/>


<!--                        <op-lazy-img (click)="openModal(i)" class="product-slide-img"-->
<!--                                     [source]=item.src></op-lazy-img>-->

                    </div>
                </ion-slide>
            </ion-slides>

        </div>


        <div class="product-container">

            <div *ngIf="appsazSettings.advanced" (click)="openReviews()" class="product-container-inner">

                <div style="flex:4; text-align: left">

                    <img *ngIf="(product?.product?.average_rating | round )>0" class="item-rate-star"
                         style="width: 14px;" src="assets/imgs/ic_star.png">
                    <img *ngIf="(product?.product?.average_rating | round )>1" class="item-rate-star"
                         style="width: 14px;" src="assets/imgs/ic_star.png">
                    <img *ngIf="(product?.product?.average_rating | round )>2" class="item-rate-star"
                         style="width: 14px;" src="assets/imgs/ic_star.png">
                    <img *ngIf="(product?.product?.average_rating | round )>3" class="item-rate-star"
                         style="width: 14px;" src="assets/imgs/ic_star.png">
                    <img *ngIf="(product?.product?.average_rating | round )>4" class="item-rate-star"
                         style="width: 14px;" src="assets/imgs/ic_star.png">


                    <img *ngIf="5 - (product?.product?.average_rating| round ) > 0" class="item-rate-star"
                         style="width: 14px;" src="assets/imgs/stargray.png">
                    <img *ngIf="5 - (product?.product?.average_rating| round ) > 1" class="item-rate-star"
                         style="width: 14px;" src="assets/imgs/stargray.png">
                    <img *ngIf="5 - (product?.product?.average_rating| round ) > 2" class="item-rate-star"
                         style="width: 14px;" src="assets/imgs/stargray.png">
                    <img *ngIf="5 - (product?.product?.average_rating| round ) > 3" class="item-rate-star"
                         style="width: 14px;" src="assets/imgs/stargray.png">
                    <img *ngIf="5 - (product?.product?.average_rating| round ) > 4" class="item-rate-star"
                         style="width: 14px;" src="assets/imgs/stargray.png">

                </div>

                <div style="flex:4; text-align: right">
                    <div style="display: inline-block">
                        <!--امتیاز ثبت شده:-->
                        {{"Rating" | translate}}:
                    </div>
                    <div style="display: inline-block">
                        {{product?.product?.average_rating | round}}
                    </div>
                    <div style="display: inline-block">
                        <!--از-->
                        {{"from" | translate}}
                    </div>
                    5
                </div>

            </div>


<!--            <div class="hide-header" id="myHeader">-->
<!--                <h2>My Header</h2>-->
<!--            </div>-->


            <div class="item-title" *ngIf="product?.product?.title">{{product?.product?.title}} </div>

            <!--<div>{{product?.product?.views}} views</div>-->


            <div style="padding: 5px; height: 40px; direction: rtl">

                <div *ngIf="appsazSettings.advanced"
                     style="display: inline-block; float: left; height: 100%; vertical-align: middle; direction: ltr">
                    <img style="display: inline-block; height: 104%; vertical-align: middle;"
                         (click)="openReviews()" class="icon-color-product-options"
                         src="assets/imgs/speach.png">

                    <div class="product-det-label " (click)="openReviews()">
                        {{"Reviews" | translate}}
                    </div>
                </div>


                <div style="display: inline-block; float: right; height: 100%; vertical-align: middle;">

                    <img class="icon-color-product-options" *ngIf="values.wishlistId[product?.product?.id]"
                         (click)="removeFromWishlist(product?.product?.id)" style="height: 100%; vertical-align: middle"
                         src="assets/imgs/like.png">
                    <img class="icon-color-product-options" *ngIf="!values.wishlistId[product?.product?.id]"
                         (click)="addToWishlist(product?.product?.id)" style="height: 100%; vertical-align: middle"
                         src="assets/imgs/likebold.png">
                    <img class="icon-color-product-options" (click)="shareItem(product?.product)"
                         style="height: 100%; vertical-align: middle" src="assets/imgs/arrow.png">
                </div>


            </div>


            <!--variation product starts-->
            <div *ngIf="product?.product?.type  ==  'variable' " style="margin-top: 5px; padding: 5px">
                <div *ngFor="let attribute of usedVariationAttributes" style="width: 100%; margin-top: 5px">
                    <hr>
                    <div class="product-attribute-label">
                        {{attribute.name}}
                    </div>

                    <!--<div style="color: white ; font-weight: bold; float: left; text-align: left; display: inline-block; width: 50%">-->
                    <!--{{attribute.options.length}}-->
                    <!--{{attribute.name}}-->
                    <!--</div>-->

                    <div *ngIf="attribute.options.length">
                        <div *ngFor="let option of attribute.options">
                            <div *ngIf="attribute.selected == option" (click)="chooseVariation(attribute, option)"
                                 class="product-attribute-selected">
                                {{option}}
                            </div>

                            <div *ngIf="attribute.selected != option" (click)="chooseVariation(attribute, option)"
                                 class="product-attribute-not-selected">
                                {{option}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>



    <div  *ngIf="!loading" style="margin-bottom: 95px">


        <div class="product-details-box box-shadow">


            <p class="product-details-box-label">
                {{"Description" | translate}}:
            </p>

            <div [innerHTML]='product?.product?.description' style="line-height: 210%;">

            </div>

            <br>

        </div>

        <div *ngIf="!relatedLoading">

            <div class="special-title">
                <div>  {{"Related Products" | translate}}</div>
            </div>


            <ion-scroll scrollX="true" class="product-scroll-box" >
                <div *ngFor="let item of related;  let i = index" style="display: inline-block; direction: ltr;">
                    <div class="product-card-thin" (click)="getProduct(item.id)">

                        <img class="product-pic" *ngIf="!item.images[0]" src="assets/imgs/placeholder.png">
                        <img class="product-pic" *ngIf="item.images[0]" src="{{item.images[0].src}}">

                        <img style="width: 30px;height: 30px;position: absolute;" *ngIf="item.is_new === 'yes' " src="assets/imgs/new.png">

                        <div class="product-title" *ngIf="item.name">{{item.name}}</div>
                        <div class="product-title" *ngIf="item.title">{{item.title}}</div>

                        <div *ngIf="item.stock_status != 'outofstock' && item.sale_price" class="item-discount-price ltr">
                            <div class="home-card-sale-price">{{"currency" | translate}}</div>
                            <div class="home-card-sale-price">
                                {{1 * item.regular_price | numberSeparator}}
                            </div>
                        </div>

                        <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">

                            <div *ngIf="item.stock_status != 'outofstock'" class="product-price">
                                <div *ngIf="item.price!=''">
                                    <div style="display:inline-block;"> {{1 * item.price | numberSeparator}}</div>
                                    <div style="display:inline-block;"> {{"currency" | translate}}</div>
                                </div>


                                <div *ngIf="item.price==''" class="soon-tag">
                                    {{appsazSettings.nopriceTag}}
                                </div>

                            </div>

                            <div *ngIf="item.stock_status == 'outofstock'" class="product-price">
                                <div class="out-of-stock-tag">
                                    {{"No Stock" | translate}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </ion-scroll>

        </div>
    </div>





</ion-content>



<ion-footer no-border no-lines *ngIf="product?.product && !loading" style="color: black">


    <ion-toolbar *ngIf="!product.product.in_stock" class="product-footer-toolbar-outofstock">


            <div *ngIf="!product?.product?.in_stock " class="product-footer-toolbar-item3">

                {{"No Stock" | translate}}
            </div>


    </ion-toolbar>







    <ion-toolbar *ngIf="product.product.in_stock && product.product.price==''" class="product-footer-toolbar-outofstock">


                <div style="text-align: center">
                    <div *ngIf="!appsazSettings.callonNoprice" class="product-footer-toolbar-item3">
                        {{appsazSettings.nopriceTag}}
                    </div>

                    <a *ngIf="appsazSettings.callonNoprice" href="tel:{{ this.publicService.supportNumber}}"
                       class="product-footer-toolbar-item3">  {{appsazSettings.nopriceTag}} </a>
                </div>


    </ion-toolbar>



    <ion-toolbar *ngIf="product.product.in_stock && product.product.price!=''" class="product-footer-toolbar-instock">

        <div *ngIf="variationsSet">

                    <div class="product-footer-toolbar-item1">

                        <div *ngIf="product.product?.on_sale" class="product-price-regular-onsale">
                            {{product.product?.regular_price | numberSeparator}}
                            {{"currency" | translate}}
                        </div>

                        <div *ngIf="!product.product?.on_sale" class="productpage-price">
                            {{product.product?.regular_price | numberSeparator}}
                            {{"currency" | translate}}
                        </div>

                        <div *ngIf="product.product?.on_sale" class="productpage-price">
                            {{product.product?.sale_price | numberSeparator}}
                            {{"currency" | translate}}
                        </div>

                    </div>


        </div>


        <div *ngIf="!variationsSet">

                    <div class="product-footer-toolbar-item1">
                        <div class="productpage-price">
                            {{product.product?.price | numberSeparator}}
                            {{"currency" | translate}}
                        </div>
                    </div>

        </div>

<!--        <div *ngIf="!addToCartLoading" (click)="addToCart(product.product?.id)" class="product-footer-toolbar-item2">-->
        <div *ngIf="!addToCartLoading" (click)="localCartService.add(product.product?.id)" class="product-footer-toolbar-item2">
            {{"AddToCart" | translate}}
        </div>
        <div *ngIf="addToCartLoading"  class="product-footer-toolbar-item2-loading">
            {{"Adding To Cart..." | translate}}
        </div>


    </ion-toolbar>
</ion-footer>
