
.product-slider{
  background-image: url('assets/imgs/placeholder.png');
  background-size: contain;
  background-color: white;
}

.product-slide{
  background-image: url('assets/imgs/placeholder.png');
  background-size: 100% 100%;
  height: 250px;
}
.product-slide-img{
  object-fit: contain;
  background-image: 'assets/imgs/placeholder.png';
  height: 250px !important;
}
.product-container{
  padding: 5px;
  background-color: color($appsazShop, background , base);
}
.product-container-inner{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  color: color($appsazShop, low-text , base);
}
.product-det-label{
  font-size: 13px;
  display: inline-block;
  color: color($appsazShop, product-options , base);
}

.product-attribute-label{
  color: color($appsazShop, special , base);
  font-weight: bold;
  //float: right;
  float: $align-item;
  //text-align: right;
  text-align: $align-item;
  display: inline-block;
  width: 100%
}

.product-attribute-selected{
  background-color : color($appsazShop, card-back , base);
  border: 2px solid color($appsazShop, special , base);
  border-radius: 7px;
  display: inline-block;
  height: 40px;
  margin: 10px 5% 10px 5%;
  text-align: center;
  line-height: 40px;
  width: 90%;
}

.product-attribute-not-selected{
  background-color :color($appsazShop, card-back , base); ;
  border: 1px solid color($appsazShop, card-border , base);;
  border-radius: 7px;
  display: inline-block;
  height: 40px;
  margin: 10px 5% 10px 5%;
  text-align: center;
  line-height: 40px;
  width: 90%;
}

.product-price-area{
  align-items: center;
  height: 45px;
  padding: 6px;
  background-color: color($appsazShop, special , base);;
  border: 1px solid color($appsazShop, special , base);
  text-align: center;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  //direction: rtl;
  direction: $app-direction;
  margin-top: 10px;
}

.product-out-of-stock{
  color: color($appsazShop, special-text , base);
}
.product-price-sale{
  display: inline-block;
  font-size: 16px;
}

.product-price-regular-area{
  font-size: 18px;
  color: color($appsazShop, special-text , base);
  display: inline-block;
}

.product-price-regular-nosale{
  color: color($appsazShop, special-text , base);
  display: inline-block;
  font-size: 13px;
  margin: 5px;
}

.product-price-regular-onsale{
  color: color($appsazShop, special-text , base);
  display: inline-block;
  text-decoration: line-through;
  font-size: 13px;
  margin: 5px;
}


.productpage-price{
  text-align: center;
  color: color($appsazShop, special-text , base);
  display: inline-block;
  font-size: 16px;
}

.product-price-regular-novars{
  display: inline-block;
  font-size: 14px;
}

.product-details-box-label{
  color: color($appsazShop, special , base);
}

.product-details-box{
  background-color: color($appsazShop, card-back , base);
  color: color($appsazShop, low-text , base);
  width: 96%;
  padding: 10px;
  //direction: rtl;
  direction: $app-direction;
  margin: 10px 2% 10px 2%;
}

.product-details-box-title{
  color: color($appsazShop, special , base);
}

.product-footer-toolbar-instock{
  padding: 0px;
  margin: 0px;
  height: 90px;
}

.product-footer-toolbar-outofstock{
  padding: 0px;
  margin: 0px;
  height: 45px;
}

.product-footer-toolbar-item1{
  margin: 0px;
  text-align: center;
  height: 45px;
  //padding-top: 10px;
  color: color($appsazShop, special-text , base);
  background-color: color($appsazShop, special , base);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-footer-toolbar-item2{
  margin: 0px;
  text-align: center;
  height: 45px;
  //padding-top: 10px;
  color: color($appsazShop, header-text , base);
  background-color: color($appsazShop, primary , base);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-footer-toolbar-item2-loading{
  margin: 0px;
  text-align: center;
  height: 45px;
  padding-top: 10px;
  color: color($appsazShop, low-text , base);
  background-color: color($appsazShop, primary , base);
}

.product-footer-toolbar-item3{
  margin: 0px;
  text-align: center;
  height: 45px;
  //padding-top: 10px;
  color: color($appsazShop, header-text , base);
  background-color: color($appsazShop, primary , base);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-title{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 96%;
  margin: 0px 2%;
  height: 50px;
  white-space: nowrap;
}


.product-footer-toolbar-item1-novars{
  margin: 0px;
  text-align: center;
  height: 45px;
  padding-top: 10px;
  color: color($appsazShop, special-text , base);
  background-color: color($appsazShop, special , base);
}
.product-footer-toolbar-item2-novars{
  margin: 0px;
  text-align: center;
  height: 45px;
  padding-top: 10px;
  color: color($appsazShop, low-text , base);
  background-color: color($appsazShop, primary , base);
}
