
  .about-div{
    color: black;
    background-color: color($appsazShop, card-back , base);
    padding: 10px ;
    //direction: rtl;
    direction: $app-direction;
    margin-top: 30px;
    border-radius: 3px 3px 0px 0px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .about-title-center{
    width: 90%;
    //margin-right: 5%;
    margin-#{$align-item-opposite}: 5%;
    margin-#{$align-item}: 5%;
    margin-bottom: 10px;
    text-align: center;
    color: color($appsazShop, primary , base);
    border-bottom: solid .7px color($appsazShop, primary , base);
    padding-bottom: 10px;
  }

  .about-content{
    padding-left: 6%;
    padding-right: 6%;
    text-align: justify!important;
    line-height: 210%;
  }

.about-version{
  text-align: center;
  margin-top: 15px;
  color: color($appsazShop, low-text , base);
}

  .about-site{
    color: #005dff;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    text-decoration: underline;
    text-align: center;
    font-size: 13px;
  }

