<ion-header>
    <ion-navbar>
        <ion-buttons start style=" position: absolute;right: 4px; top: 12px;">
            <button (click)="getCart()" style="background-color: transparent;">
                <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
                    {{values.count}}
                </ion-badge>

                <img src="assets/imgs/shopping-cart.png" style="width: 24px">

            </button>
        </ion-buttons>
        <ion-title class="catalog-title">
            {{"About Us" | translate}}
        </ion-title>
        <ion-buttons end style="left: 0; position: absolute">
            <button menuToggle style="background-color: transparent; align-items: center;display: flex;">

                <img src="assets/imgs/menu3(1).png" style="width: 30px; transform: rotate(180deg);">
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="shop-background">

<!--    <op-lazy-img [source]="'http://i.imgur.com/UtVqQ8P.png'"></op-lazy-img>-->


    <div class="about-div box-shadow">

        <div *ngIf="loading">
            <div padding>
                <skeleton-item height="24px"></skeleton-item>

                <skeleton-item height="14px"></skeleton-item>
                <skeleton-item height="14px" width="60%"></skeleton-item>
                <skeleton-item height="14px" width="90%"></skeleton-item>
                <skeleton-item height="14px" width="90%"></skeleton-item>
                <skeleton-item height="14px" width="90%"></skeleton-item>
                <skeleton-item height="14px" width="50%"></skeleton-item>
                <skeleton-item height="14px" width="100%"></skeleton-item>
                <skeleton-item height="14px" width="90%"></skeleton-item>

            </div>

        </div>


        <div *ngIf="!loading" class="about-title-center">
            <b>{{"Introduction" | translate}} </b>
        </div>


        <p *ngIf="!loading"  [innerHTML]="aboutText" class="item-text-wrap about-content rtl">

        </p>


    </div>


    <p class="about-version">
        {{"Version" | translate}}
        {{appsazSetings.appVersion}}
    </p>


    <!--<div class="about-site" (click)="loadSite()">
        Designed and developed by appsaz
    </div>
    <div class="about-site" (click)="loadSite()">
        appsaz.ir
    </div>-->

    <div progress-bar progress-percent="percent"></div>

</ion-content>

