.cartBadge*{
    direction: $app-direction;
}

.rtl {
    .item-ios ion-icon[item-left], .item-ios ion-icon[item-right] {
        margin-top: 9px;
        margin-bottom: 8px;
        margin-left: 12px;
    }
    .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%…><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>");
        padding: 0;
        background-repeat: no-repeat;
        background-position: left 14px center;
        background-size: 14px 14px;
    }
}

::-webkit-scrollbar {
display: none;
}

#element::-webkit-scrollbar {
    display: none;
}

.swiper-pagination-bullet-active {
    background: #000;
    opacity: 1;
}
//radio
.item-radio.item ion-label {
    font-size: 15px;
}
.item-radio-checked.item ion-label {
    color: color($appsazShop, primary , base);
}
.radio .radio-checked .radio-inner {
    border-color: color($appsazShop, primary, base);
}
.radio-md .radio-checked {
    border-color: color($appsazShop, primary , base);
}
.radio-md .radio-inner {
    background-color: color($appsazShop, primary , base);
}
//alert
.alert-ios .alert-button, .alert-md .alert-button {
    color: color($appsazShop, button , base);
}
.alert-ios [aria-checked=true] .alert-radio-label, .alert-md [aria-checked=true] .alert-radio-label {
    color: color($appsazShop, button , base);
}
.alert-ios [aria-checked=true] .alert-radio-inner, .alert-md [aria-checked=true] .alert-radio-inner {
    border-color: color($appsazShop, button , base);
}
.alert-ios .alert-title, .alert-md .alert-title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.alert-ios .alert-radio-label, .alert-md .alert-radio-label {
    font-size: 14px;
    direction: $app-direction;
}
.alert-ios .alert-button {
    color: color($appsazShop, primary , base);
    background-color: color($appsazShop, button , base);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}
.alert-md [aria-checked=true] .alert-radio-icon {
    border-color:color($appsazShop, button , base);
}
.alert-md .alert-radio-inner {
    background-color: color($appsazShop, button , base);
}
.alert-ios .alert-radio-label {
    white-space: pre-line;
    direction: $app-direction;
}
.alert-md .alert-radio-label {
    white-space: pre-line;
}
.alert-wp .alert-radio-label {
    white-space: pre-line;
}
.toggle-md .toggle-checked .toggle-inner, .toggle-ios .toggle-checked .toggle-inner {
    background-color: color($appsazShop, button , base);
}
.toggle-md .toggle-checked, .toggle-ios .toggle-checked {
    background-color: #fff;
}
.toggle.toggle-checked .toggle-icon {
    background-color: color($appsazShop, button , base);
}

//.badge {
//    position: absolute;
//    top: -8%;
//    right: 4%;
//    right: calc(10% - 5px);
//    padding: 1px 6px;
//    height: auto;
//    font-size: 12px;
//    line-height: 16px;
//    color: color($appsazShop, special-text , base);
//    background-color: color($appsazShop, primary , base);
//}
.button {
    font-size: 14px;
    text-transform: uppercase;
}
ion-spinner {
    display: block;
    //margin-left: auto;
    margin-#{$align-item-opposite}: auto;
    //margin-right: auto;
    margin-#{$align-item}: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}
//a {
//    color: #222;
//}
//.menu-toolbar {
//    .toolbar {
//        height: 120px;
//        border-width: 0 0 0.55px;
//    border-style: solid;
//    border-color: rgba(0, 0, 0, 0.3);
//    }
//    .button-customername {
//        text-align: center;
//    }
//    .button-welcome {
//        text-align: center;
//    }
//    .profile-image img {
//        //border-radius: 50%;
//        //margin: 10px;
//        //border: 4px solid rgba(255, 255, 255, 0.4);
//        display: block;
//        margin-left: auto;
//        margin-right: auto;
//        height: auto;
//        width: 190px;
//        border-bottom: 1px;
//        padding-top: 20px;
//    }
//}
//.sidemenugrad {
//    background-color: $menu-background-color;
//    .menu-items {
//        .item>ion-icon, .item-inner>ion-icon {
//            font-size: 1.6rem;
//        }
//        .item {
//            ion-icon {
//                color: white;
//                padding: 4px;
//                border-radius: 2px;
//                line-height: 0;
//                max-width: 24px;
//                min-width: 24px;
//                min-height: 24px;
//                max-height: 24px;
//            }
//        }
//    }
//    .item {
//        background-color: transparent;
//        color: $menu-text-color;
//    }
//    .scroll-content {
//        padding-bottom: 120px;
//    }
//    .item-divider {
//        .item>ion-icon, .item-inner>ion-icon {
//            font-size: 1.6rem;
//        }
//        background-color: $menu-background-color;
//        border-bottom: 0.55px solid $menu-border-color;
//        color: $menu-text-color;
//        font-size: 17px;
//        ion-icon {
//            color: color($appsazShop, special-text , base);
//            background-color: color($appsazShop, primary , base);
//            padding: 3px;
//            border-radius: 2px;
//            line-height: 0;
//            font-size: 1.8rem;
//            max-width: 24px;
//            min-width: 24px;
//            min-height: 24px;
//            max-height: 24px;
//        }
//    }
//    margin-top: 120px;
//    .list .item-block .item-inner {
//        border-bottom: 0.55px solid $menu-border-color;
//    }
//    .list>.item-block:last-child {
//        border-bottom: 0.55px solid $menu-border-color;
//    }
//    .list>.item-block:last-child .item-inner {
//        border-bottom: 0;
//    }
//    .category-name {
//        .item {
//            padding-left: 56px;
//        }
//        ion-icon {
//            color: $menu-border-color;
//        }
//    }
//    .item-md ion-icon[item-left]+.item-inner {
//        margin-left: 10px;
//    }
//    .activated {
//        opacity: 0.6;
//        ion-icon {
//            opacity: 0.6;
//        }
//    }
//
//
//
//}


//----------------------------------------------------------------------
//---------------------------APPSAZ STYLE-------------------------------
//----------------------------------------------------------------------



a{
    text-decoration: none;
}
.item-image {
    // position: absolute!important;
    top: 16px!important;
    //left: 16px;
    #{$align-item-opposite}: 16px;
    max-width: 40px!important;
    max-height: 40px!important;
    width: 100%!important;
    height: 100%!important;
    border-radius: 50%!important;
}

.list{
    direction : $app-direction;
}

.pageTitle{
    color: color($appsazShop, primary , base) !important;
    text-align: center!important;
}

/*.rtl{
    direction : rtl;
}

.ltr{
    direction : ltr;
}

.rtl-right{
    direction : rtl;
    text-align: right;
}

.ltr-left{
    direction : ltr;
    text-align: left;
}*/

.rtl{
    direction : $app-direction;
}

.ltr{
    direction : $app-direction-opposite;
}

.rtl-right{
    direction : $app-direction;
    text-align: $align-item;
}

.ltr-left{
    direction : $app-direction-opposite;
    text-align: $align-item-opposite;
}


.pad-5{
    padding : 5px;
}

.pad-10{
    padding : 10px;
}

ion-item h2, ion-item h3, ion-item h4{
    padding-top: 15px !important;
}

.hasFooter{
    margin-bottom: 50px !important;
}

.hasDualFooter{
    margin-bottom: 100px !important;
}

.bxslider{
    height: 100vw;
}

.item h4{
    font-size: 3.5vw;
    line-height: normal;
}

.generalItem{
    margin        : 0;
    margin-top : 5px !important;
    margin-bottom : 5px !important;
    width         : 47vw;
    position: relative;
    display: inline-block;
}

.generalItem:nth-child(odd){
    //margin-right : 2vw;
    margin-#{$align-item}: 2vw;
   // margin-left  : 1vw;
    margin-#{$align-item-opposite}: 1vw;
}

.generalItem:nth-child(even){
    //margin-left  : 2vw;
    margin-#{$align-item-opposite}: 2vw;
    //margin-right : 1vw;
    margin-#{$align-item}: 1vw;
}

.catItem{
    margin        : 0;
    margin-top : 5px !important;
    margin-bottom : 5px !important;
    width         : 47vw;
    position: relative;
    display: inline-block;
    height: 47vw;
}

.catItem .item-image img{
    height: 47vw;
    /* vertical-align: middle; */
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    //left: 0px;
    #{$align-item-opposite}: 0px;
    //right: 0px;
    #{$align-item}: 0px;
}


.catItem.catItem-round{
    border-radius: 50%;
}


.catItem:nth-child(even){
    //margin-right : 2vw;
    margin-#{$align-item}: 2vw;
    //margin-left  : 1vw;
    margin-#{$align-item-opposite}: 1vw;
}

.catItem:nth-child(odd){
   // margin-left  : 2vw;
    margin-#{$align-item-opposite}: 2vw;
    //margin-right : 1vw;
    margin-#{$align-item}: 1vw;
}

.catItem.catItem-round>.category-title{
    bottom: 15% !important;
    background: rgba(71, 71, 71, 0.7);
}

.category-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(71, 71, 71, 0.36);
    color: #fff; border: transparent;
    text-align: center;
    font-size: 3.5vw;
    padding: 3px;
    line-height: normal;
}

.item-background, .cat-item-background, .scroll-item-background{
    width: 100%;
    text-align: center;
    background-image: url("../assets/imgs/noImg.jpg");
    background-size: 100% 100%;
}

.item-full-img .item-background{
    padding-top: 100% !important;
}

.item-full-img .item-full-text, .item-full-img h4{
    text-align: center !important;
}

.cat-item-background{
    height: 47vw;
}


.scroll-item-background{
    /* width: 100px;*/
    height: 100px;
}


.item-image.item-image-round, .item-image.item-image-round img{
    border-radius: 50%!important;
    padding: 3px!important;
}

.item-image.item-image-round {
    border: 1px solid gray;
}

.card-one-column{
    margin        : 2vw 2vw 0 2vw !important;
    width: 96vw!important;
}

/*.card-one-column .item-full-img img, .card-one-column .item-full-img .item-image{
    height: 90vw;
}*/

.card-two-column{
    margin        : 0!important;
    margin-top : 2vw !important;
    margin-bottom : 0px !important;
    display: inline-block!important;
    width: 40vw!important;
}


/*.card-two-column .item-full-img img, .card-two-column .item-full-img .item-image{
    height: 47vw;
}*/

.card-two-column:nth-child(even){
    //margin-right : 1vw!important;
    margin-#{$align-item}: 1vw!important;
    //margin-left  : 2vw!important;
    margin-#{$align-item-opposite}: 2vw!important;
}

.card-two-column:nth-child(odd){
    //margin-left  : 1vw!important;
    margin-#{$align-item-opposite}: 1vw!important;
    //margin-right : 2vw!important;
    margin-#{$align-item}: 2vw!important;
}


.card-three-column{
    margin        : 0;
    margin-top : 2vw !important;
    margin-bottom : 0px !important;
    display: inline-block;
    width: 30.66vw;
}

.card-three-column  .item-discount-price, .card-three-column .item-price, .card-three-column .item-price-label, .card-three-column .item-price-unit{
    display: none;
}


/*.card-three-column .item-full-img img, .card-three-column .item-full-img .item-image{
    height: 30.66vw;
}*/


.card-three-column:nth-child(3n+1){
    //margin-right : 2vw;
    margin-#{$align-item}: 2vw;
    //margin-left  : 1vw;
    margin-#{$align-item-opposite}: 1vw!important;
}

.card-three-column:nth-child(3n+2){
    //margin-right : 1vw;
    margin-#{$align-item}: 1vw;
    //margin-left  : 1vw;
    margin-#{$align-item-opposite}: 1vw;
}

.card-three-column:nth-child(3n+3){
    //margin-right : 1vw;
    margin-#{$align-item}: 1vw;
    //margin-left  : 2vw;
    margin-#{$align-item-opposite}: 2vw;
}


.full-text{
    white-space: normal !important;
    line-height: normal;
}



.item p{
    text-align : $align-item;
}

.item h2, .item h3, .item h4{
    text-align : $align-item;
}

.item-price-label{
    display: inline-block;
}

.item-discount-price{
    display: inline-block;
    text-decoration: line-through;
    color : #c7c7c7;
    float: $align-item-opposite;
    //padding-left: 4px;
    padding-#{$align-item-opposite}: 4px;
    font-size: 10px;
    margin-top: auto;
    direction: $app-direction-opposite;
    text-align: $align-item-opposite;
}

.item-price{
    display: inline-block;
    padding: 5px 3px 5px 3px;
}

.item-price-unit{
    display: inline-block;
}

.galleryItemTitle{
    padding   : 5px;
    direction : $app-direction;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
    text-align: center;
}

.galleryItemImageHolder{
    border : 1px solid #EEE;
}

.font-80{
    font-size: 80%;
}


.loading-page{
    text-align: center;
    padding-top: 50%;
}


.loading-spinner svg{
    width: 58px;
    height: 58px;
    stroke: #1390c5;
}

.refresh-spinner svg{
    stroke: #1390c5 !important;
}

.item-spinner svg{
    stroke: #1390c5;
}


.custom-icon{
    font-size: 26px !important;
    //padding-left: 5px;
    padding-#{$align-item-opposite}: 5px;
    //padding-right: 5px;
    padding-#{$align-item}: 5px;
}

.big-icon{
    font-size: 40px;
    text-align: center;
}

.slider-icon{
    position: absolute;
    background-color: #4d4d4d;
    border-radius: 1px;
    padding: 10px;
    top: 40%;
    opacity: .5;
    color: #BBDEFB;
    font-size: 35px!important;
}



.bottomNotification > .popup{
    direction: $app-direction;
    width: 70%;
    position: fixed;
    bottom: 2%;
    $align-item-opposite: 15%;
    padding: .1em;
    opacity: 0.8;
    background-color: #e8e8e8;
    border-radius: .4em !important;
}

.bottomNotification > .popup > .popup-head {

    border-bottom: none !important;
}

.bottomNotification > .popup > .popup-head > *{
    font-size: 14px;
}

.alertNotification > .popup{
    direction: $app-direction;
    padding: .1em;
    opacity: 0.8;
    background-color: #e8e8e8;
    border-radius: .3em !important;
}

.alertNotification > .popup > .popup-head {

    border-bottom: none !important;
}


.alertNotification  >  .popup >  .popup-buttons button  {
    background-color: rgba(0, 165, 246, 0.46) ;
    border-radius: .3em;
    margin: 5px!important;
}

.connectionAlert{
    margin-top: 5px;
    width: 100%;
    background-color: rgba(174, 174, 174, 0.85);
    text-align: center;
    color: white;
}

.connectionAlert p{
    width: 100%;
}
.connectionError{
    text-align: center;
}

.connectionError p{
    width: 100%;
    text-align: center;
}

.hybrid-form{
    margin-top: 20px;
    width: 80%;
    //margin-right: 10%;
    margin-#{$align-item}: 10%;
}


.hybrid-form td{
    color: gray;
    /*vertical-align: middle;*/
}

.item-floating-label{
    border: none;
}

.input-label{
    display: block !important;
    color: grey;
    font-size: 12px !important;
    //padding-right: 3px  !important;
    padding-#{$align-item}: 3px !important;
    //padding-left: 3px  !important;
    padding-#{$align-item-opposite}: 3px!important;
}

.hybrid-form .input-label{
    color: gray;
    //padding-right: 5px !important;
    padding-#{$align-item}: 5px!important;
    font-size: 13px;
}

.hybrid-form input, .hybrid-form textarea{
    text-align: $align-item-opposite;
    direction: $app-direction-opposite;
    vertical-align: middle;
    font-size: 16px;
}

.hybrid-form input, .hybrid-form textarea{
    width: 98%;
}

.hybrid-form textarea{
   // margin-right: 44px !important;
    margin-#{$align-item}: 44px!important;
    width: calc(99% - 44px);
}

.hybrid-form input{
    height: 20px;
}



.custom-form1{

}

.custom-form1 td{
    border: none;
    border-bottom: 1.5px solid #0d7faa;
    height: 50px;
}


.custom-form1 input{
}


.custom-form2{
    border-collapse:separate;
    border-spacing:10px;
}

.custom-form2 td{
    border-radius: 5px;
    background-color: rgba(189, 218, 223, 0.91);
}


.custom-form2 input, .custom-form2 textarea{
    background-color: rgba(30, 150, 185, 0);
}

.custom-form3{
    border-collapse:separate;
    border-spacing:10px;
}

.custom-form3 td{
    border: 1px solid #0d7faa;
    border-radius: 5px;
    /* height: 50px;*/
}

.custom-form3 input{
}


.button-container{
    text-align: center;
}

.input-error{
    border-color: #fb8c00 !important;
    background-color: rgba(255, 0, 0, 0.3) !important;
}

.input-error textarea, .input-error input{
    background-color: transparent !important;
}

.button-disabled{
    opacity: 0.4;
}

.button-custom1{
    position: relative;
    background-color: color($appsazShop, primary , base);
    border-radius: 3px;
    padding: 10px;
    direction: $app-direction;
    display: inline-block;
    color: white;
    font-size: 12px;
    min-width: 150px;
    text-align: center;
}

.button-custom1 *{

    color: white;
    font-size: 12px;
    text-decoration: none;
}

.button-custom2{
    background-color: color($appsazShop, primary , base);
    padding: 3px;
    border-radius: 3px;
    direction: $app-direction;
    display: inline-block;
    color: white;
    font-size: 12px;
    text-align: center;
}

.button-custom2 *{
    color: white;
    font-size: 12px;
    text-decoration: none;
}
.button-custom-full{
    background-color: color($appsazShop, primary , base);
    width: 100%!important;
    padding: 15px;
    direction: $app-direction;
    color: white;
    font-size: 14px;
    text-align: center;
}


.button-custom-full *{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.about-title-right{
    width: 70%;
    margin-right: 3%; //TO Do
    padding-right: 3%; //TO Do
    margin-bottom: 10px;
    border-bottom: solid .7px color($appsazShop, special , base);
}

//ion-header-bar{
//    background-color: rgba(22, 122, 156, 0.64) !important;
//    border: transparent !important;
//}


//.custom-subheader1{
//    background-color:  #0a4f69;
//    color: snow;
//    width: 100%;
//    padding-top: 5px;
//}
//
//.custom-subheader1 div{
//    display: inline-block;
//    padding-top: 7px;
//    text-align: center;
//}


.card-container{
    padding-top: 5px;
}


ion-item{
    text-align: $align-item;
    border: none !important;
}
/*

.hero>img{
    width: 170px;
    height: 170px;
    padding: 15px;
}
*/



/*

.slider {
    width: 100%;
    height: 100%;
    background-color: red;
}*/



/*
.animate.ng-enter {
   opacity: 1;
}

.animate.ng-enter-stagger {
    opacity: 1;
}
*/


.active .modal-backdrop-bg {
    opacity: .7;
    background-color: #424242;
}

.modal{
    top: 0;
    bottom: 0;
    //left: 0;
    #{$align-item-opposite}: 0;
    //right: 0;
    #{$align-item}: 0;
    width: 100%;
    height: 100%;
    background: transparent !important;
}


//
//.hybrid-slider-slide img {
//    margin-top: 20%;
//}



.slider-icon{
    position: absolute;
    background-color: #4d4d4d;
    border-radius: 1px;
    padding: 10px;
    top: 40%;
    opacity: .5;
    color: #BBDEFB;
    font-size: 35px!important;
}


.slider-right{
    right: 3px;
    #{$align-item}: 3px;
    margin-top: 30px;
}

.slider-left{
    left: 3px; //To DO
    margin-top: 30px;
}

.slider-back{
    top: 0px;
    //left: 0px;
    #{$align-item-opposite}: 0px;
    position: fixed;
    padding: 10px;
    opacity: 0.9;
    z-index: 10;
    color: white;
}

.noItem{
    position: fixed;
    bottom: 10px !important;
    /* top: 0px;*/
    background-color: #979797;
    color: white;
    width: 90%;
    //margin-left: 5%;
    margin-#{$align-item-opposite}: 5%;
    padding:10px;
    border-radius: 7px;
    text-align: center;
}

.unfixed-noItem{
    /* top: 0px;*/
    background-color: #979797;
    color: white;
    width: 90%;
    //margin-left: 5%;
    margin-#{$align-item-opposite}: 5%;
    padding:10px;
    border-radius: 7px;
}

.videoItem{
    //margin-right : 6%;
    margin-#{$align-item}: 6%;
    //margin-left  : 6%;
    margin-#{$align-item-opposite}: 6%;
    margin-top : 5px !important;
    width         : 25% !important;
}

.videoItem:nth-child(3n+2){
    //margin-right : 0%;
    margin-#{$align-item}: 0%;
    //margin-left  : 0%;
    margin-#{$align-item-opposite}: 0%;
}

.playIcon {
    position: absolute;
    opacity: 0.5;
    font-size: 28px!important;

}

.video-player {
    width: 100%;
    padding:  5%;

}

.right-bottom-border{
    border-bottom: solid .5px color($appsazShop, primary , base);
    border-right: solid .5px color($appsazShop, primary , base); // TO DO
    background-color: rgba(10, 157, 199, 0.08)
}

.full-border{
    border: solid .5px color($appsazShop, primary , base);
    background-color: rgba(10, 157, 199, 0.08);
}

.family-icon-scroller {
    -webkit-overflow-scrolling: touch;
    padding: 15px 15px 12px;
    overflow-x: auto;
    white-space: nowrap;
    list-style: none;
}

.family-icon {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin: 0 10px
}

.group-title{
    display: inline-block;
    width: 70%;
    color:color($appsazShop, text , base);
    padding-bottom: 5px;
    border-bottom: 1px solid color($appsazShop, primary , base);
    //padding-right: 10px;
    padding-#{$align-item}: 10px;
    //margin-right: 10px;
    margin-#{$align-item}: 10px;
}

.notification-item{

}


.scroll-container {
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    display: inline-block;
    direction: $app-direction;
    background-color: transparent;
}


.scroll-item {
    //margin-left:5px;
    margin-#{$align-item-opposite}: 5px;
    //margin-right:5px;
    margin-#{$align-item}: 5px;
    margin-bottom:5px;
    text-align: center;
    display:inline-block;
    border: 1px solid #d0d0d0;
    width: 150px;
    height: 150px;
}

.scroll-item img {
    width: 100px;
    min-height: 100px;
}

.scroll-title {
    position: absolute;
    padding-top: 5px;
    bottom: 0;
    font-size: 12px !important;
    text-align: $align-item;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.top-menu{
    position: fixed;
    top: 44px !important;
    /* top: 0px;*/
    background-color: #979797;
    color: white;
    width: 100%;
    padding:10px;
}

.center-message{
    text-align: center;
    margin-top: 20px;
    width: 90%;
    //margin-right: 5%;
    margin-#{$align-item}: 5%;
    //margin-left: 5%;
    margin-#{$align-item-opposite}: 5px;
}

.bordered-box{
    //padding-left: 5px;
    padding-#{$align-item-opposite}: 5px;
    //padding-right: 5px;
    padding-#{$align-item}: 5px;
    border: 1px solid color($appsazShop, primary , base);
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

.box{
    background-color:rgba(26, 26, 26, 0.7);
    border-radius: 5px;
}


.subtitle{
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: row-reverse;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 30px 0 20px;
}

.subtitle .subtitleLine {
    width: 100%;
    border-bottom: 1px solid #6d6d6d;
}

.subtitle .subtitleText {
    text-align: center;
    white-space: nowrap;
    padding: 0px 5px;
}

.bookingColumn{
    border-spacing: 2px;
    border-collapse: separate;
}

.bookingColumn tr{
    background-color: #e1e8e6;
}
.bookingColumn th p, .bookingColumn td p{
    padding: 7px 0 1px !important;
    margin: 0 !important;
}

.bookingColumn th{
    background-color: #c0bfba;
    color: #fff;
}

.booking-interval-container{
    text-align: $align-item-opposite;
    direction: $app-direction-opposite;
}

.booking-interval{
    width: 30.66%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    //margin-left: 2%;
    margin-#{$align-item-opposite}: 2%;
    border-radius: 5px;
    border: 1px solid;
}


.discountContainer{
    //margin-right: 15px;
    margin-#{$align-item}: 15px;
}
//
//.steps-nav-bar{
//    position: fixed;
//    bottom: 0px;
//    width: 100%;
//    margin-left: 0%;
//    direction: ltr;
//    text-align: center;
//    padding: 10px;
//    background-color: #ef473a;
//    height: 50px;
//}


//.step-button{
//    position: relative;
//    display: inline-block;
//    color: white;
//    text-align: center;
//    width: 49%;
//}
//
//.step-button:first-child{
//    border-right: 1px snow solid;
//}
//
//.step-button-text{
//    font-size: 12px;
//}

//
//.bottom-float-icon{
//    position: absolute;
//    bottom: 10px;
//    margin-right: 10px;
//    background-color: #0a7b99;
//    display: inline-block;
//    color: white;
//    border-radius: 50%;
//    padding: 15px;
//    opacity: 0.8;
//}

//.download-nav-bar {
//    height: 35px;
//    padding-right: 10px !important;
//    position: absolute;
//    bottom: 0px;
//    opacity: 0.9 !important;
//    background-color: #878787;
//    width: 100%;
//    color: white;
//}

//.inventory-label{
//    font-size: 12px;
//    color: white;
//    background-color: red;
//    border-radius: 5px 0px 0px 5px;
//    margin-top: 10px;
//    padding: 3px;
//    position: absolute;
//    bottom: 45%;
//    right: 0px;
//}

.background-img {
    background-size: cover !important;
}


input, textarea{
    text-align: $align-item !important;
    //padding-right: 0px;
    padding-#{$align-item}: 0px;
}

//.retry-button{
//    border: 1px solid lightgray;
//    border-radius: 5px;
//    display: inline-block;
//    padding: 5px 10px 5px 10px;
//    color: #f4f4f4;
//}


.star-rating{
    display: inline-block;
}
//
//.star-rating .icon{
//    font-size: 16px;
//    padding-right: 3px;
//    color: #8a3627;
//}

//.booking-date-interval{
//    text-align: center;
//    direction: ltr;
//    width: 100%;
//    border: 1px solid gray;
//}


//.booking-selected-date{
//    color: green;
//}

.progress-bar-loader{
    background: color($appsazShop, primary, base) !important;
    border-bottom-right-radius:100px; //TO DO
    border-top-right-radius:100px; //TO DO
    height:20px;
}
.progress-bar-percent{
    text-align:center;
    color:color($appsazShop, primary, base) !important;
    text-align:center;
}

//.fav-row-small-content{
//    width: 30px;
//    color: #ece938;
//    background-color: rgba(10, 79, 105, 0.77);
//    text-align: center;
//    padding-top: 3px;
//}
//
//.fav-row-big-content{
//    width: 200px;
//    background-color: rgba(12, 131, 163, 0.8);
//    text-align: center;
//    padding-top: 1px;
//}

.list-ios .item-block .item-inner {
    border-bottom: 0px;
}


.toolbar-background-md {
    background: color($appsazShop, header, base); /* fallback for old browsers */
}

.toolbar-background-ios {
    background: color($appsazShop, header, base); /* fallback for old browsers */
}

.toolbar{
    direction: $app-direction!important;
}
a ion-label, button ion-label {
    pointer-events: none;
    display: flex;
}
.back-button.show-back-button {
    display: inline-block;
    position: absolute;
}


.soon-tag {
    display: inline-block;
    color: color($appsazShop, special, base);
    //padding-left: 10px;
    padding-#{$align-item-opposite}: 10px;
    //padding-right: 10px;
    padding-#{$align-item}: 10px;
    border-radius: 3px;
}

.cartBadge{
    color: color($appsazShop, primary, base) !important;
    position: absolute !important;
    top: -10px !important;
    //left: 19px;
    #{$align-item-opposite}: 19px;
    border: 2px solid color($appsazShop, primary, base) !important;
    z-index: 1 !important;
    //display: inline-block !important;
    width: 20px;
    height: 20px;
    vertical-align: baseline !important;
    white-space: nowrap !important;
    font-size: 10px !important;
    border-radius: 10px !important;
    background-color: color($appsazShop, header-text, base);
    justify-content: center;
    //padding-right: 5px;
    //padding-#{$align-item}: 5px;
    display: flex;
}

.bar-button::after{
    z-index: 1 !important;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    //left: 0;
    #{$align-item-opposite}: 0;
}

.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: solid;
    border-color: black;
    background-color: color($appsazShop, primary, base) !important;
}

.loading-ios .loading-wrapper {
    border-radius: 8px;
    max-width: 270px;
    max-height: 90%;
    color: color($appsazShop, primary, base);
    padding: 24px 34px;
    background-color: transparent !important;
}

.slider-pager-page.active
{
    color: color($appsazShop, primary, base);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
    background-color: color($appsazShop, primary, base);
}


.alert-md .alert-title {
    font-size: 18px;
    direction: $app-direction;
    font-family: inherit;
}

.alert-md .alert-message {
    max-height: 240px;
    font-size: 15px;
    direction: $app-direction;
}


.product-card {
    color: color($appsazShop, text, base);
    box-shadow: 0px 0px 5px 0px #a49996;
    background-color:color($appsazShop, card-back, base);
    border-radius: 5px;
    width: 165px;
    height: 225px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    //border: 1px solid #3f595b;
}
.product-card-thin {
    color: color($appsazShop, text , base);
    box-shadow: 0px 0px 5px 0px #a49996;
    border-radius: 5px;
    width: 140px;
    height: 225px;
    margin: 5px;
    background-color:color($appsazShop, card-back, base);
    padding: 5px;
    display: flex;
    flex-direction: column;
    //border: 1px solid gray;
}

.product-scroll-box{
    white-space: nowrap;
    height: 245px;
   /* height: 275px;*/
}

.product-pic {
    width: 100%;
    padding-top: 7px;
    //padding-left: 7px;
    padding-#{$align-item-opposite}:7px;
    //padding-right: 7px;
    padding-#{$align-item}: 7px;
    border-radius: 5px;
    height: 110px;
    object-fit: contain;

}


.product-details {
    //padding-right: 10px;
    padding-#{$align-item}: 10px;
    direction: $app-direction;
    font-size: 50%;
    padding-top: 7px;
    color: color($appsazShop, low-text, base);
    text-align: $align-item;
    margin-bottom: -10px;
    margin-top: -5px;

}

.product-title {
    direction: $app-direction;
    color: color($appsazShop, text, base);
    font-size: 80%;
    font-weight: bold;
    text-align: $align-item;
    height: 50px;
    white-space: normal;
    width: 90%;
    margin: 5% 5% 0% 5%;
}


.product-price {
    display: inline-block;
    direction: $app-direction;
    font-weight: bold;
    font-size: 10px;
    color: color($appsazShop, price, base);
    float: $align-item-opposite;
}

.product-rate {
    font-weight: bold;
    font-size: 12px;
    color: color($appsazShop, text, base);
    display: inline-block;
    direction: $app-direction;
}

.product-rate-star {
    display: inline-block;
    width: 11px;
}


.special-title{
    color: color($appsazShop, special-text, base);
    font-size: 12px;
    background-color: color($appsazShop, special, base); ;
    //margin-right: 2%;
    margin-#{$align-item}: 2%;
    //margin-left: 2%;
    margin-#{$align-item-opposite}: 2%;
    width: 96%;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 5px;
}

.out-of-stock-tag {
    display: inline-block;
    color: color($appsazShop, out-of-stock, base);
    //padding-left: 10px;
    padding-#{$align-item-opposite}: 10px;
    //padding-right: 10px;
    padding-#{$align-item}: 10px;
    border-radius: 3px;
}

//.billing-address-form .list {
//
//    background-color: rgb(239,239,239);
//}


.toggle-md.toggle-checked .toggle-icon{
    background-color: color($appsazShop, primary, base) !important;
}

.toggle-md.toggle-checked .toggle-inner{
    background-color: color($appsazShop, special-text, base) !important
}

.item-md{
    padding: 10px;
}

.appbutton {
    width: 96%  !important;
    //margin-right: 2%  !important;
    margin-#{$align-item}: 2%!important;
    //margin-left: 2%  !important;
    margin-#{$align-item-opposite}: 2%!important;
    margin-top: 10px;
    background-color: color($appsazShop, button, base) !important;
    border-radius: 5px  !important;
    text-align: center;
    color: color($appsazShop, button-text, base) !important;
}

.alert-md [aria-checked=true] .alert-radio-icon {
    border-color: color($appsazShop, primary, base);
}

.alert-md .alert-radio-inner {
    background-color: color($appsazShop, primary, base);
}


.category-home-div{
    display: inline-block;
    padding-top: 15px;
    //padding-left: 2px;
    padding-#{$align-item-opposite}: 2px;
    //padding-right: 2px;
    padding-#{$align-item}: 2px;
}


.category-bttn{
    width: 110px !important;
    height: 40px !important;
    border-radius: 5px;
    display: inline-block;
    color: color($appsazShop, low-text, base);
    text-align: center;
    padding-top: 10px;
    font-size: 11px;
}

spinner .spinner-crescent circle {
    stroke: color($appsazShop, primary , base);
}

.infinite-loading-spinner .spinner-crescent circle {
    stroke: color($appsazShop, primary , base);
}
.alert-md .alert-title {
    font-size: 16px;
    font-family: inherit;
    text-align: center;
    padding-bottom: 6px;
}

.alert-md .alert-sub-title {
    font-size: 15px;
    color: color($appsazShop, low-text, base);
    direction: $app-direction;
}


input, textarea {
/*  text-align: $align-item-opposite !important;*/
    text-align: $align-item !important;
    /* padding-right: 0px; */
}

.loading-spinner svg {
    width: 35px !important;
    height: 35px !important;
    stroke: color($appsazShop, primary , base) !important;
}




/**{
    direction: ltr;
}*/

.searchbar-md .searchbar-input {
    text-align: $align-item !important;
}
.item-rate-star {
    display: inline-block;
    width: 7px;
    margin-bottom: 4px;
}

.searchbar-ios.searchbar-left-aligned .searchbar-input {
    text-align: $align-item !important;
}


.text-input-md {
    text-align: $align-item !important;
    direction: $app-direction;
}

.ltr-input{

    input {
        //text-align: $align-item-opposite !important;// To DO
        text-align: $align-item !important; // should be left
        /*direction: $app-direction-opposite !important;*/
        direction: ltr !important;
    }
}

.thin-item{
    padding: 2px 10px 2px 10px;
    margin: 0px;
    height: 80px;
    font-size: 15px;
}


.infinite-loading-text {
    color: color($appsazShop, primary, base);
    margin: 4px 32px 0;
}


.back-button-icon-md {
    color:color($appsazShop, header-text, base);
    transform: rotate(180deg);
}

.back-button-icon-ios {
    color:  color($appsazShop, special-text, base);
}

.back-button-icon-wp {
    color:  color($appsazShop, special-text, base);
}

.spinner-md-crescent circle {
    stroke: color($appsazShop, primary, base);
}

//.............appsaz shop - product................


.toolbar-title-ios {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: color($appsazShop, special-text, base);
    pointer-events: auto;
}


.toolbar-title-md {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: color($appsazShop, header-text, base);
    pointer-events: auto;
}

.shop-background{
    background-color: color($appsazShop, background, base);
}

.box-shadow{
    box-shadow: 0px 0px 5px 0px #a49996;
}

.loggedin-data{
    height: 120px;
    background: color($appsazShop, primary, base); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, color($appsazShop, primary, base), color($appsazShop, primary, base)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  color($appsazShop, primary, base), color($appsazShop, primary, base));
    border-bottom: 1px solid color($appsazShop, low-text , base);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 30px;
}

.loggedin-data-name{
    direction: $app-direction;
    color: color($appsazShop, header-text, base);
    //padding-right: 10px;
    padding-#{$align-item}: 10px;
    font-size: 19px;
}

.loggedin-data-username{
    font-weight: bold;
    direction: $app-direction;
    color: color($appsazShop, header-text, base);
    //padding-right: 10px;
    padding-#{$align-item}: 10px;
    padding-top: 3px;
    font-size: 11px;
}

.special-menu-items{
    display:flex;
    height: 55px;
    background: -webkit-linear-gradient(to right, color($appsazShop, special, base), color($appsazShop, special, base)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, color($appsazShop, special, base), color($appsazShop, special, base)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: color($appsazShop, special-text, base);
    direction: $app-direction;
    font-size: 15px;
}

.special-menu-item{
    margin-top: 18px;
    //margin-right: 1px;
    margin-#{$align-item}: 1px;
    display: inline-block;
    flex: 5;
}

.special-menu-img {
    width: 35px;
    //margin-right: 10px;
    margin-#{$align-item}: 10px;
    margin-top: 10px;
}

.menu-content{
    background-color: color($appsazShop, background, base) !important;
    color: color($appsazShop, primary, base);
}

.menu-back{
    background-color: color($appsazShop, background, base) !important;
}

.main-menu-item{
    background-color: color($appsazShop, background, base);
    color: color($appsazShop, menu-text, base);
    display: flex;
    font-size: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.main-menu-img{
    width: 22px;
    //margin-left: 10px;
    margin-#{$align-item-opposite}: 10px;
    padding-top: 5px;
    margin-top: -3px;
    height: 26px;
    flex: 0;
}

.main-menu-support{
    padding-top: 8px;
    color:  color($appsazShop, menu-text, base);
}

.main-menu-sign{
    /*color: #005dff;*/
    color: #707070;
    margin-bottom: 20px;
    margin-top: -10px;
    direction: $app-direction;
    //margin-right: 20px;
    margin-#{$align-item}: 20px;
    text-align: center;
    font-size: 12px;
    text-decoration: underline;
    line-height: 210%;
}

.menu-welcome{
    direction: $app-direction;
    color: color($appsazShop, header-text, base);
    //padding-right: 10px;
    padding-#{$align-item}: 10px;
    font-size: 20px
}

.menu-welcome-user{
    color:color($appsazShop, header-text, base);
    font-weight: bold;
    direction: $app-direction;
    font-size: 12px;
    border: 1px solid white;
    display: inline-block;
    margin: 7px 3px;
    padding: 5px 11px;
    border-radius: 11px;
}

.hide{
    display: unset !important;
}


.icon-color-primary{
    //filter:brightness(0) saturate(100%) invert(72%) sepia(36%) saturate(6263%) hue-rotate(302deg) brightness(94%) contrast(100%);
    filter: invert(37%) sepia(84%) saturate(7498%) hue-rotate(152deg) brightness(106%) contrast(102%);
}
.icon-color-product-options{
   //filter:brightness(0) saturate(100%) invert(8%) sepia(50%) saturate(7422%) hue-rotate(318deg) brightness(104%) contrast(110%);
    filter: invert(37%) sepia(84%) saturate(7498%) hue-rotate(152deg) brightness(106%) contrast(102%);
}
.icon-color-on-primary{
    filter:brightness(0) saturate(100%) invert(99%) sepia(21%) saturate(0%) hue-rotate(301deg) brightness(103%) contrast(101%);
    //filter: invert(37%) sepia(84%) saturate(7498%) hue-rotate(152deg) brightness(106%) contrast(102%);
}
.icon-color-special{
    //filter:brightness(0) saturate(100%) invert(8%) sepia(50%) saturate(7422%) hue-rotate(318deg) brightness(104%) contrast(110%);
    filter: invert(37%) sepia(84%) saturate(7498%) hue-rotate(152deg) brightness(106%) contrast(102%);
}
.icon-color-on-special{
    filter:brightness(0) saturate(100%) invert(99%) sepia(21%) saturate(0%) hue-rotate(301deg) brightness(103%) contrast(101%);
    //filter: invert(37%) sepia(84%) saturate(7498%) hue-rotate(152deg) brightness(106%) contrast(102%);
}
.icon-color-menu{
    //filter:brightness(0) saturate(100%) invert(72%) sepia(36%) saturate(6263%) hue-rotate(302deg) brightness(94%) contrast(100%);
    filter: invert(37%) sepia(84%) saturate(7498%) hue-rotate(152deg) brightness(106%) contrast(102%);
}


.new-msgs-badge{
    background-color:  color($appsazShop, special, base);
    color: color($appsazShop, special-text, base);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}


.msg-class-success .alert-wrapper .alert-head{
    background-position: top;
    background-image: url("../assets/imgs/checked1.png");
    background-size: auto 60px;
    padding-top: 60px;
    background-repeat: no-repeat;
}


.msg-class-error .alert-wrapper .alert-head{
    background-position: top;
    background-image: url("../assets/imgs/cancel1.png");
    background-size: auto 50px;
    padding-top: 65px;
    background-repeat: no-repeat;
}


.msg-class-warning .alert-wrapper .alert-head{
    background-position: top;
    background-image: url("../assets/imgs/warning1.png");
    background-size: auto 50px;
    padding-top: 65px;
    background-repeat: no-repeat;
}

.msg-class-message .alert-wrapper .alert-head{
    background-position: top;
    background-image: url("../assets/imgs/email1.png");
    background-size: auto 50px;
    padding-top: 65px;
    background-repeat: no-repeat;
}


.msg-class-update .alert-wrapper .alert-head{
    background-position: top;
    background-image: url("../assets/imgs/reload1.png");
    background-size: auto 50px;
    padding-top: 65px;
    background-repeat: no-repeat;
}






.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    //margin-right: 15px;
    margin-#{$align-item}: 15px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    //left: 8px;
    #{$align-item-opposite}: 8px;
    width: 16px;

    background:  color($appsazShop, header-text, base);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    //left: 8px;
    #{$align-item-opposite}: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    //left: 32px;
   #{$align-item-opposite}: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    //left: 56px;
    #{$align-item-opposite}: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}







.back-button-md{
    margin: 0;
}


.google-login-btn{
    background: $googleLoginBtn;
    color: white;
    width: 96%  !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-top: 10px;
    height: 40px;
    border-radius: 5px  !important;
}


.login-or{
    color: #bfbfbf;
    background: white;
    width: fit-content;
    align-items: center;
    margin: auto;
    margin-top: -23px;
    padding: 5px;
}



.alert-md .alert-button-group{
    padding: 8px 24px 8px 24px;
    direction: ltr;
    text-align: left;
    justify-content: left;
   // direction: $app-direction-opposite;
}








.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
    box-shadow: none;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: transparent;
    box-shadow: none;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
    border-bottom-color: transparent;
    box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
    box-shadow: none;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: transparent;
    box-shadow: none;
}


.toast-message{
 //direction: ltr;
}
















