

<ion-content style="background-color:  rgba(0,0,0,0.26)">


  <div style=" background-color: white; border-radius: 5px; width: 86%; margin: 50px 7% 0px 7%; ">


    <div class="coupon-modal-header" >
      <ion-buttons end style="display: inline-block; float: right">
        <button (click)="closeModal()" style="background-color: transparent;">
          <img class="icon-color-on-special" src="assets/imgs/close.png" style="margin-top: 3px; width: 15px; margin-left: 15px;">
        </button>
      </ion-buttons>

      <div style="display: inline-block"><!--مشاهده فاکتور-->  {{"Factor" | translate}}</div>

    </div>



    <div style="text-align: center !important; padding-bottom: 10px; " *ngIf="orderReview">

      <div class="order-details-box box-shadow">
        <table class="order-details-table">
          <thead class="order-details-box-thead">
          <th rowspan="5" class="ltr pad-5 orderTH">عنوان محصول</th>
          <th class="ltr pad-5 orderTH"> تعداد</th>
          <th class="ltr pad-5 orderTH"> قیمت کل</th>
          </thead>

          <tr *ngFor="let item of orderReview.cart.cart_contents | keys; index as index;"
              class="order-details-box-tr">
            <td class="ltr pad-5 order-details-box-td">{{item.value.name}}</td>
            <td class="ltr pad-5 order-details-box-td">{{item.value.quantity}}</td>
            <td class="ltr pad-5 order-details-box-td">{{item.value.line_subtotal | numberSeparator }}
              {{"currency" | translate}}</td>
          </tr>

        </table>

      </div>

      <div style="font-size: 12px">
        <div class="order-details-box box-shadow">

          <hr style=" height: 1px;">
          <div class="order-details-box-det">
             <!--تحویل بسته :--> {{"Shipto" | translate}}
            {{form.shipping_city}},
            {{form.shipping_address_1}},
            {{form.shipping_address_2}},
           <!-- کد پستی-->
            {{"Postcode" | translate}}
            {{form.shipping_postcode}}
            <br>
            {{form.shipping_first_name}},
            {{form.shipping_last_name}}

          </div>

            <hr style=" height: 1px;">

            <div class="order-details-box-det">
                <!-- تخفیف:-->
              {{"Discount" | translate}}:
               {{1 * orderReview.totals.discount_total | numberSeparator}}  {{"currency" | translate}}
            </div>

            <hr style=" height: 1px;">

            <div class="order-details-box-det">
               <!-- هزینه ارسال:-->
              {{"Shipping cost" | translate}}

                {{1 * orderReview.totals.shipping_total | numberSeparator}} {{"currency" | translate}}
            </div>

            <hr style=" height: 1px;">

            <div class="order-details-box-det">
                <!--مبلغ قابل پرداخت:--> {{"Final price" | translate}}
                {{1 * orderReview.totals.total | numberSeparator}} {{"currency" | translate}}
            </div>


            <hr style=" height: 1px;">

          <div class="order-details-box-det">
            <!--روش پرداخت:-->
            {{"PaymentMethod" | translate}}
            {{form.payment_instructions}}
          </div>


        </div>

      </div>



    </div>

  </div>
</ion-content>


