<ion-header>

    <ion-navbar>
        <ion-buttons start style="position: absolute;right: 4px;top: 12px;">
            <button (click)="getCart()" style="background-color: transparent;">
                <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
                    {{values.count}}
                </ion-badge>
                <img src="assets/imgs/shopping-cart.png" style="width: 24px">
            </button>
        </ion-buttons>

        <ion-title>{{'My Order' | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-spinner *ngIf="loading" name="crescent">
    </ion-spinner>


    <div *ngIf="products" style="margin-bottom: 60px;">

        <h2 *ngIf="!loading && products.length==0" style="font-size: 15px;text-align: center;margin-top: 30px">
            <!--            کالایی در این
                        دسته موجود نیست.-->
            {{"No result was found." | translate}}
        </h2>

        <div>

            <div *ngIf="products.length>0 && !loading" style="text-align: center; margin-top: 4px;">

                <!--                <div *ngIf="!title" class="special-title">-->
                <!--                    <div>محصولات در همه دسته ها</div>-->
                <!--                </div>-->
                <!--    <div *ngFor="let item of products;  let i = index" style="display: inline-block;">
                        <div class="product-card special-items-product-card">
                            <div (click)="getProduct(item)">
                                <img *ngIf="item.thumbnail" class="product-pic" src="{{item.thumbnail}}">
                                <img *ngIf="!item.thumbnail" class="product-pic" src="assets/imgs/placeholder.png">

                                <div class="product-title" *ngIf="item.name">{{item.name}}</div>
                                <div class="product-title" *ngIf="item.title">{{item.title}}</div>

                                <div *ngIf="item.stock_status == 'instock' && item.sale_price"
                                     class="item-discount-price ltr">
                                    <div class="home-card-sale-price">{{"currency" | translate}}</div>
                                    <div class="home-card-sale-price">
                                        {{1 * item.regular_price | numberSeparator}}
                                    </div>
                                </div>

                                <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">

                                    <div *ngIf="item.stock_status == 'instock'" class="product-price">
                                        <div *ngIf="item.price!=''">
                                            <div style="display:inline-block;"> {{1 * item.price | numberSeparator}}</div>
                                            <div style="display:inline-block;"> {{"currency" | translate}}</div>
                                        </div>


                                        <div *ngIf="item.price==''" class="soon-tag">
                                            {{appsazSettings.nopriceTag}}
                                        </div>
                                    </div>

                                    <div *ngIf="item.stock_status == 'outofstock'" class="product-price">
                                        <div class="out-of-stock-tag">
                                            {{"No Stock" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div *ngIf="item.stock_quantity && item.stock_quantity!= null && item.stock_quantity>0" style="display: flex; width: 115px; text-align: center;align-items: center; margin: 15px 5% 0% 5%;">
                                &lt;!&ndash;  <img style="flex: 0; width: 20px;height: 20px;"
                                       (click)="addToCart(item, i)" src="assets/imgs/plus2.png">&ndash;&gt;
                                <img style="flex: 0; width: 20px;height: 20px;"
                                     (click)="plusCount(item.quantity, i)" src="assets/imgs/plus2.png">
                                &lt;!&ndash;  <div style="flex: 1;">{{item.quantity}}</div>&ndash;&gt;
                                <div style="margin: 0 10px;">
                                    <ion-input type="number" (ionChange)="changetodo(item.quantity, i)" [max]="item.stock_quantity" min="0" value="{{item.quantity}}" [(ngModel)]="item.quantity"  class="qty-field"></ion-input>
                                </div>
                                <img style="flex: 0; width: 20px; height: 20px;" [hidden]="item.shoppingCount==0"
                                     (click)="minusCount(item.quantity, i)"  src="assets/imgs/minus.png">
                            </div>


                            &lt;!&ndash;<div *ngIf="!item.stock_quantity || (item.stock_quantity && (item.stock_quantity == null || item.stock_quantity== -1 || tem.stock_quantity== 0))" style="display: flex; width: 115px; text-align: center;align-items: center; margin: 15px 5% 0% 5%;">&ndash;&gt;
                            <div *ngIf="item.stock_quantity == null || item.stock_quantity<1" style="display: flex; width: 115px; text-align: center;align-items: center; margin: 15px 5% 0% 5%;">
                                <img style="flex: 0; width: 20px;height: 20px;"
                                     (click)="plusCount(item.quantity, i)" src="assets/imgs/plus2.png">
                                <div style="margin: 0 10px;">
                                    <ion-input type="number" (ionChange)="changetodo(item.quantity, i)"  min="0" value="{{item.quantity}}"  [(ngModel)]="item.quantity" class="qty-field" ></ion-input>
                                </div>
                                <img style="flex: 0; width: 20px; height: 20px;" [hidden]="item.shoppingCount==0"
                                     (click)="minusCount(item.quantity, i)"  src="assets/imgs/minus.png">
                            </div>

                        </div>
                    </div>-->


                <div *ngFor="let item of products;  let i = index">

                    <div class="cart-full">

                        <div style="flex: 5;text-align: left; padding-left: 16px;">
                            <div (click)="getProduct(item)" *ngIf="item?.name"
                                 style="height: 40px;margin-bottom: 5px;">{{item?.name}}</div>
                            <div (click)="getProduct(item)" *ngIf="item?.title"
                                 style="height: 40px;margin-bottom: 5px;">{{item?.title}}</div>

                           <!-- <div style="display: flex;" *ngIf="item && item?.quantity">-->
                            <div style="display: flex;" *ngIf="item">
                                <div *ngIf="item?.stock_status == 'instock' && item?.sale_price" class="product-price">
                                    <div class="item-discount-price"
                                         style="display: inline-block; margin-bottom: 10px">{{1 * item?.regular_price | numberSeparator}}
                                        {{"currency" | translate}}
                                    </div>
                                </div>

                                <div>
                                    <div *ngIf="item?.stock_status == 'instock'" class="product-price">
                                        <div style="display: inline-block; margin-bottom: 10px">
                                            <div *ngIf="item?.price!=''">
                                                <div style="display:inline-block;"> {{1 * item?.price | numberSeparator}}</div>
                                                <div style="display:inline-block;"> {{"currency" | translate}}</div>
                                            </div>

                                            <div *ngIf="item?.price==''" class="soon-tag">
                                                {{appsazSettings.nopriceTag}}
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="item?.stock_status == 'outofstock'" class="product-price">
                                        <div class="out-of-stock-tag"
                                             style="display: inline-block; margin-bottom: 10px; padding-left: 0">
                                            {{"No Stock" | translate}}
                                        </div>
                                    </div>
                                </div>

                                <!-- </div>-->

                            </div>


                            <div *ngIf="item?.stock_quantity && item?.stock_quantity!= null && item?.stock_quantity>0"
                                 style="display: flex; width: 115px; text-align: center;align-items: center; margin: 0px 5% 0% 0%;">
                                <img style="flex: 0; width: 20px;height: 20px;"
                                     (click)="plusCount(item.quantity, i)" src="assets/imgs/plus2.png">
                                <div style="margin: 0 10px;">
                                    <ion-input type="number" (ionChange)="changetodo(item?.quantity, i)"
                                               [max]="item?.stock_quantity" min="0" value="{{item?.quantity}}"
                                               [(ngModel)]="item.quantity" class="qty-field"></ion-input>
                                </div>
                                <img style="flex: 0; width: 20px; height: 20px;" [hidden]="item.shoppingCount==0"
                                     (click)="minusCount(item?.quantity, i)" src="assets/imgs/minus.png">
                            </div>

                            <div *ngIf="item?.stock_quantity == null || item?.stock_quantity<1"
                                 style="display: flex; width: 115px; text-align: center;align-items: center; margin: 0px 5% 0% 5%;">
                          <!--      <img style="flex: 0; width: 20px;height: 20px;"
                                     (click)="plusCount(item?.quantity, i)" src="assets/imgs/plus2.png">
                                <div style="margin: 0 10px;">
                                    <ion-input type="number" (ionChange)="changetodo(item?.quantity, i)" min="0"
                                               value="{{item?.quantity}}" [(ngModel)]="item.quantity"
                                               class="qty-field"></ion-input>
                                </div>
                                <img style="flex: 0; width: 20px; height: 20px;" [hidden]="item?.shoppingCount==0"
                                     (click)="minusCount(item?.quantity, i)" src="assets/imgs/minus.png">
                            -->
                            </div>


                        </div>


                        <div style="width: 105px;">
                            <img (click)="getProduct(item)" *ngIf="item?.thumbnail" style="width: 95px;"
                                 src="{{item?.thumbnail}}">
                            <img (click)="getProduct(item)" *ngIf="!item?.thumbnail" style="width: 95px;"
                                 src="assets/imgs/placeholder.png">
                            <!--     <div style="display: flex; width: 115px; text-align: center;">
                                     <img style="flex: 0; width: 20px;height: 20px;"
                                          (click)="addToCart(item.value.product_id, item.key)" src="assets/imgs/plus2.png">
                                     <div style="flex: 1;">{{item.value.quantity}}</div>
                                     <img style="flex: 0; width: 20px; height: 20px;" [hidden]="item.shoppingCount==0"
                                          (click)="deleteFromCart(item.value.product_id, item.key)" src="assets/imgs/minus.png">
                                 </div>-->
                        </div>


                    </div>
                </div>


            </div>


        </div>


        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="has_more_items">
            <ion-infinite-scroll-content
                    loadingSpinner="crescent"
                    loadingText="{{'Loading more items...' | translate}}">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>


</ion-content>

<ion-footer *ngIf="products.length && products.length != 0" no-border no-lines>

    <ion-toolbar style="padding: 0px; margin: 0px;height: 50px;">

        <!--   <div  class="cart-footer-item1">
               &lt;!&ndash; {{"Subtotal ex tax" | translate}}&ndash;&gt;
               {{"Total" | translate}}
               {{1 * cart.cart_totals.cart_contents_total | numberSeparator}} {{"currency" | translate}}
           </div>-->

        <div class="cart-footer-item2"
             (click)="!disableBtn && UpdateCartNew()">
            {{'UPDATE CART' | translate}}
        </div>


    </ion-toolbar>
</ion-footer>
