page-my-special-items {


  .special-items-product-card{
    height: 245px;
  }

  .qty-field{
    width: 50px;
    border: solid 1px color($appsazShop, input-border, base);
    border-radius: 5px;

    input{
      margin: 5px!important;
      text-align: center!important;
    }
  }



  .cart-full{
    color: color($appsazShop, text, base);
    background-color: color($appsazShop, card-back, base);
    width: 100%;
    /*border-radius: 6px;*/
    //padding: 10px 10px 5px 10px;
    padding: 10px 0px 5px 0px;
    display: flex;
    direction: rtl;
    //margin-top: 15px;
    border-bottom: solid 1px $card-border;

    .product-price {
      font-size: 13px;
    }

    .item-discount-price {
      padding-right: 10px;
      font-size: 12px;
    }

  }

}
