
<ion-header>

  <ion-navbar>
    <ion-buttons end style="
    position: absolute;
    right: 4px;
    top: 12px;">
      <button (click)="closeModal()" style="background-color: transparent;">
        <img src="assets/imgs/close.png" class="icon-color-on-primary" style="width: 20px">
      </button>
    </ion-buttons>


    <ion-title>{{'Search' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>


  <ion-searchbar  #searchbar placeholder=" {{'search' | translate}}" style=" margin-bottom: 10px; width: 100%;"
                 [(ngModel)]="q"
                 [showCancelButton]="false"
                 (ionInput)="onInput($event)"
                 (ionCancel)="onCancel($event)"
                 dir=“rtl”>
  </ion-searchbar>



  <div *ngIf="!products"  style="margin-top: 50px; text-align: center;">

    <img src="assets/gifs/Magnify-1.4s-200px.gif" style="width: 80px">

  </div>



  <div *ngIf="products">

    <div *ngIf="products">
      <h2 *ngIf="!products.length" style="font-size: 15px;text-align: center;margin-top: 30px"> {{"No result was found." | translate}}</h2>
    </div>

    <div *ngIf="products">

      <div *ngIf="products.length" style="text-align: center;">

        <div *ngFor="let item of products;  let i = index"
             style="display: inline-block;">

          <div class="product-card"  (click)="getProduct(item)">

            <img class="product-pic" *ngIf="!item.images[0]" src="assets/imgs/placeholder.png" >
            <img class="product-pic" *ngIf="item.images[0]" src="{{item.images[0].src}}">


            <div class="product-title" *ngIf="item.name">{{item.name}}</div>
            <div class="product-title" *ngIf="item.title">{{item.title}}</div>

            <div *ngIf="item.stock_status == 'instock' && item.sale_price" class="item-discount-price ltr">
              <div class="home-card-sale-price">{{"currency" | translate}}</div>
              <div class="home-card-sale-price">{{1*item.regular_price | numberSeparator}}
              </div>
            </div>

            <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">

              <div *ngIf="item.stock_status == 'instock'" class="product-price">
                <div *ngIf="item.price!=''">
                  <div style="display:inline-block;"> {{1 * item.price | numberSeparator}}</div>
                  <div style="display:inline-block;"> {{"currency" | translate}}</div>
                </div>


                <div *ngIf="item.price==''" class="soon-tag">
                  {{appsazSettings.nopriceTag}}
                </div>

              </div>

              <div *ngIf="item.stock_status != 'instock'" class="product-price">
                <div class="out-of-stock-tag">
                  {{"No Stock" | translate}}
                </div>
              </div>


<!--              <div style="float: right;">-->

<!--                <div>-->

<!--                  <img *ngIf="(item.average_rating | round) >0" class="item-rate-star"-->
<!--                       src="assets/imgs/ic_star.png">-->
<!--                  <img *ngIf="(item.average_rating | round) >1" class="item-rate-star"-->
<!--                       src="assets/imgs/ic_star.png">-->
<!--                  <img *ngIf="(item.average_rating | round) >2" class="item-rate-star"-->
<!--                       src="assets/imgs/ic_star.png">-->
<!--                  <img *ngIf="(item.average_rating | round) >3" class="item-rate-star"-->
<!--                       src="assets/imgs/ic_star.png">-->
<!--                  <img *ngIf="(item.average_rating | round) >4" class="item-rate-star"-->
<!--                       src="assets/imgs/ic_star.png">-->

<!--                  <img *ngIf="5 - (item.average_rating | round) > 0" class="item-rate-star"-->
<!--                       src="assets/imgs/stargray.png">-->
<!--                  <img *ngIf="5 - (item.average_rating | round) > 1" class="item-rate-star"-->
<!--                       src="assets/imgs/stargray.png">-->
<!--                  <img *ngIf="5 - (item.average_rating | round) > 2" class="item-rate-star"-->
<!--                       src="assets/imgs/stargray.png">-->
<!--                  <img *ngIf="5 - (item.average_rating | round) > 3" class="item-rate-star"-->
<!--                       src="assets/imgs/stargray.png">-->
<!--                  <img *ngIf="5 - (item.average_rating | round) > 4" class="item-rate-star"-->
<!--                       src="assets/imgs/stargray.png">-->


<!--                </div>-->
<!--              </div>-->


            </div>
          </div>

        </div>

      </div>


      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="has_more_items">
        <ion-infinite-scroll-content
                loadingSpinner="crescent"
                loadingText="{{'Loading more items..' | translate}}">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>


</ion-content>
