<ion-header>
  <ion-navbar>
    <ion-buttons start style="
    position: absolute;
    right: 4px;
    top: 12px;">
      <button (click)="getCart()" style="background-color: transparent;">
        <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
          {{values.count}}
        </ion-badge>

        <img src="assets/imgs/shopping-cart.png" style="width: 24px">

      </button>
    </ion-buttons>
    <ion-title class="catalog-title">
      {{"Blog" | translate}}
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="shop-background">

  <div *ngIf="loading">
    <div class="wishlist-card" >
      <div style="flex: 5;">
        <div>
          <div style="margin-bottom: 10px;font-size: 14px;"> <skeleton-item height="12px"></skeleton-item></div>
          <div style="margin-bottom: 10px;font-size: 14px;"> <skeleton-item height="12px"></skeleton-item></div>
          <div style="margin-bottom: 10px;font-size: 13px; color: #0D47A1;"> <skeleton-item height="12px" width="60%"></skeleton-item></div>
        </div>
      </div>


      <div style="flex: 3">
        <skeleton-item height="100px"  style=" width: 90%; object-fit: cover; margin: 0px 5%;"no-animated></skeleton-item>
      </div>

    </div>

    <div class="wishlist-card" >
      <div style="flex: 5;">
        <div>
          <div style="margin-bottom: 10px;font-size: 14px;"> <skeleton-item height="12px"></skeleton-item></div>
          <div style="margin-bottom: 10px;font-size: 14px;"> <skeleton-item height="12px"></skeleton-item></div>
          <div style="margin-bottom: 10px;font-size: 13px; color: #0D47A1;"> <skeleton-item height="12px" width="60%"></skeleton-item></div>
        </div>
      </div>


      <div style="flex: 3">
        <skeleton-item height="100px"  style=" width: 90%; object-fit: cover; margin: 0px 5%;"no-animated></skeleton-item>
      </div>

    </div>

    <div class="wishlist-card" >
      <div style="flex: 5;">
        <div>
          <div style="margin-bottom: 10px;font-size: 14px;"> <skeleton-item height="12px"></skeleton-item></div>
          <div style="margin-bottom: 10px;font-size: 14px;"> <skeleton-item height="12px"></skeleton-item></div>
          <div style="margin-bottom: 10px;font-size: 13px; color: #0D47A1;"> <skeleton-item height="12px" width="60%"></skeleton-item></div>
        </div>
      </div>


      <div style="flex: 3">
        <skeleton-item height="100px"  style=" width: 90%; object-fit: cover; margin: 0px 5%;"no-animated></skeleton-item>
      </div>

    </div>

  </div>


  <div *ngIf="!loading">

    <div *ngIf="blogs.length == 0" style="text-align: center">
      <p><!--هیچ نوشته ای موجود نیست.--> {{"No result was found." | translate}}</p>
    </div>

    <div *ngIf="blogs && blogs.length != 0">

      <div *ngFor="let item of blogs">

        <div class="wishlist-card box-shadow" >

          <div style="flex: 5;">
            <div>
              <div style="margin-bottom: 10px;font-size: 14px;">{{item.title['rendered']}}</div>
              <div style="margin-bottom: 10px;font-size: 13px; color: #0D47A1;" (click)="getDetail(item)"><!--بیشتر...--> {{"More..." | translate}} </div>
              <div style="margin-bottom: 10px;font-size: 12px;color: gray"> {{item.date | jalali}} </div>
            </div>
          </div>


          <div (click)="getDetail(item)" style="flex: 3" >
            <img *ngIf="item.better_featured_image.source_url" style=" width: 90%; object-fit: cover; margin: 0px 5%;" src="{{item.better_featured_image.source_url}}">
            <img *ngIf="!item.better_featured_image.source_url" style=" width: 90%; object-fit: cover; margin: 0px 5%;" src="assets/imgs/placeholder.png">

          </div>


        </div>
      </div>
    </div>


  </div>

  <ion-infinite-scroll (ionInfinite)="loadData($event)" *ngIf="hasMoreItems">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="{{'Loading more items...' | translate}}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

