page-products {
}

.products-head-options {
  width: 100%;
  height: 40px;
  background-color: color($appsazShop, special, base);
  color: color($appsazShop, special-text, base);
}

.products-head-options-item-right {
  width: 49%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  //border-left: 1px solid color($appsazShop, special-text, base);
  border-#{$align-item-opposite}: 1px solid color($appsazShop, special-text, base);
}

.products-head-options-item-left {
  width: 49%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
}

.products-search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.products-category {
  color: color($appsazShop , special, base);
  font-size: 16px;
  padding: 5px 10px 5px 10px;
}

.products-subcategory {
  background-color: color($appsazShop , card-back, base);
  border: 1px solid lightgrey;
  color: color($appsazShop , text, base);
  //direction: rtl;
  direction: $app-direction;
  height: 60px;
  width: 96%;
  padding: 5px 10px;
  margin: 0px 2%;
  font-size: 14px;
  vertical-align: middle;
  display: flex;
  line-height: 4;

}

.products-category-div {
  margin-bottom: 10px;
}

.products-category-img {
  //margin-left: 10px;
  margin-#{$align-item-opposite}: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
