<ion-header>
    <ion-navbar>
        <ion-buttons start style="position: absolute;right: 4px;top: 12px;">
            <button (click)="getCart()" style="background-color: transparent;">
                <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
                    {{values.count}}
                </ion-badge>
                <img src="assets/imgs/shopping-cart.png" style="width: 24px">
            </button>
        </ion-buttons>
        <ion-title *ngIf="title" class="catalog-title">
            {{categoryName}}
        </ion-title>

        <ion-title *ngIf="!title" class="catalog-title">
            <!-- لیست دسته بندی محصولات-->
            {{"Categories" | translate}}
        </ion-title>
        <ion-buttons end style="right: 0; position: absolute">
            <button menuToggle style="background-color: transparent; align-items: center; display: flex;">
                <img src="assets/imgs/menu3(1).png" style="width: 30px; transform: rotate(180deg);">
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content class="shop-background">

    <div *ngIf="appsazSettings.advanced && !subCategories.length" class="products-head-options box-shadow">
        <div class="products-head-options-item-right" (click)="openFilters()">
            Filter
        </div>

        <div class="products-head-options-item-left" (click)="sortBy()">
            Sort
        </div>
    </div>

    <ion-searchbar *ngIf="!(subCategories && subCategories.length)" placeholder="{{'search' | translate}}" class="products-search-bar"
                   [(ngModel)]="q"
                   [showCancelButton]="false"
                   (ionInput)="onInput($event)"
                   (ionCancel)="onCancel($event)"
                   dir=“ltr”>
    </ion-searchbar>


    <div *ngIf="subCategories && subCategories.length">

        <div class="products-category">

            <div *ngIf="title" style="direction: ltr">
                {{categoryName}}
            </div>

            <div *ngIf="!title" style="direction: ltr">
                <br>
                {{"Categories" | translate}}
            </div>
        </div>


        <div class=" products-category-div">
            <div *ngFor="let item of subCategories"
                 (click)="getCategory(item.id, item.slug , item.name)"
                 style="display: flex">

                <div class="products-subcategory">

                    <img class="products-category-img" *ngIf="item.image != null" src="{{item.image.src}}">
                    <img class="products-category-img" *ngIf="item.image == null" src="assets/imgs/placeholder.png">

                    {{item.name}}
                </div>

                <hr>
            </div>
        </div>

    </div>


    <ion-spinner *ngIf="!products" name="crescent">
    </ion-spinner>


    <div *ngIf="products" [@myBoxAnimation]>

        <h2 *ngIf="products.length==0" style="font-size: 15px;text-align: center;margin-top: 30px">
            <!--            کالایی در این
                        دسته موجود نیست.-->
            {{"No result was found." | translate}}
        </h2>

        <div>

            <div *ngIf="products.length" style="text-align: center;">

                <!--                <div *ngIf="!title" class="special-title">-->
                <!--                    <div>محصولات در همه دسته ها</div>-->
                <!--                </div>-->


                <div *ngIf="title">
                    <div class="special-title">
                        <div><!--محصولات در دسته ی--> {{categoryName}}</div>
                    </div>


                    <div *ngIf="!service.globalFilter['orderby'] || service.globalFilter['orderby'] != 'price' ">
                        <div *ngFor="let item of products;  let i = index"
                             style="display: inline-block;">


                          <!--  <div class="product-card" (click)="getProduct(item)" *ngIf="(item.stock_status != 'outofstock') || (item.stock_status == 'outofstock' && !service.globalFilter['min_price'] || service.globalFilter['min_price']!=0) ">-->
                            <div class="product-card" (click)="getProduct(item)" *ngIf="(item.stock_status != 'outofstock') ">

                                <img *ngIf="item.images[0]" class="product-pic" src="{{item.images[0].src}}">
                                <img *ngIf="!item.images[0]" class="product-pic" src="assets/imgs/placeholder.png">

                                <div class="product-title" *ngIf="item.name">{{item.name}}</div>
                                <div class="product-title" *ngIf="item.title">{{item.title}}</div>

                                <div *ngIf="item.stock_status == 'instock' && item.sale_price"
                                     class="item-discount-price ltr">
                                    <div class="home-card-sale-price">{{"currency" | translate}}</div>
                                    <div class="home-card-sale-price">
                                        {{1 * item.regular_price | numberSeparator}}
                                    </div>
                                </div>

                                <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">

                                    <div *ngIf="item.stock_status == 'instock'" class="product-price">
                                        <div *ngIf="item.price!=''">
                                            <div style="display:inline-block;"> {{1 * item.price | numberSeparator}}</div>
                                            <div style="display:inline-block;"> {{"currency" | translate}}</div>
                                        </div>


                                        <div *ngIf="item.price==''" class="soon-tag">
                                            {{appsazSettings.nopriceTag}}
                                        </div>

                                    </div>

                                    <div *ngIf="item.stock_status == 'outofstock'" class="product-price">
                                        <div class="out-of-stock-tag">
                                            {{"No Stock" | translate}}
                                        </div>
                                    </div>


                                    <!--                            <div style="float: right;">-->

                                    <!--                                <div>-->
                                    <!--                                    <img *ngIf="(item.average_rating | round) >0" class="item-rate-star"-->
                                    <!--                                         src="assets/imgs/ic_star.png">-->
                                    <!--                                    <img *ngIf="(item.average_rating | round) >1" class="item-rate-star"-->
                                    <!--                                         src="assets/imgs/ic_star.png">-->
                                    <!--                                    <img *ngIf="(item.average_rating | round) >2" class="item-rate-star"-->
                                    <!--                                         src="assets/imgs/ic_star.png">-->
                                    <!--                                    <img *ngIf="(item.average_rating | round) >3" class="item-rate-star"-->
                                    <!--                                         src="assets/imgs/ic_star.png">-->
                                    <!--                                    <img *ngIf="(item.average_rating | round) >4" class="item-rate-star"-->
                                    <!--                                         src="assets/imgs/ic_star.png">-->


                                    <!--                                    <img *ngIf="5 - (item.average_rating | round) > 0" class="item-rate-star"-->
                                    <!--                                         src="assets/imgs/stargray.png">-->
                                    <!--                                    <img *ngIf="5 - (item.average_rating | round) > 1" class="item-rate-star"-->
                                    <!--                                         src="assets/imgs/stargray.png">-->
                                    <!--                                    <img *ngIf="5 - (item.average_rating | round) > 2" class="item-rate-star"-->
                                    <!--                                         src="assets/imgs/stargray.png">-->
                                    <!--                                    <img *ngIf="5 - (item.average_rating | round) > 3" class="item-rate-star"-->
                                    <!--                                         src="assets/imgs/stargray.png">-->
                                    <!--                                    <img *ngIf="5 - (item.average_rating | round) > 4" class="item-rate-star"-->
                                    <!--                                         src="assets/imgs/stargray.png">-->

                                    <!--                                </div>-->
                                    <!--                            </div>-->


                                </div>
                            </div>
                        </div>

                    </div>






                    <div *ngIf="service.globalFilter['orderby'] && service.globalFilter['orderby'] == 'price' ">
                        <div *ngFor="let item of products;  let i = index" style="display: inline-block;">
                            <div class="product-card" (click)="getProduct(item)" *ngIf="(item.stock_status != 'outofstock') ">

                                <img *ngIf="item.images[0]" class="product-pic" src="{{item.images[0].src}}">
                                <img *ngIf="!item.images[0]" class="product-pic" src="assets/imgs/placeholder.png">

                                <div class="product-title" *ngIf="item.name">{{item.name}}</div>
                                <div class="product-title" *ngIf="item.title">{{item.title}}</div>

                                <div *ngIf="item.stock_status == 'instock' && item.sale_price"
                                     class="item-discount-price ltr">
                                    <div class="home-card-sale-price">{{"currency" | translate}}</div>
                                    <div class="home-card-sale-price">
                                        {{1 * item.regular_price | numberSeparator}}
                                    </div>
                                </div>

                                <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">

                                    <div *ngIf="item.stock_status == 'instock'" class="product-price">
                                        <div *ngIf="item.price!=''">
                                            <div style="display:inline-block;"> {{1 * item.price | numberSeparator}}</div>
                                            <div style="display:inline-block;"> {{"currency" | translate}}</div>
                                        </div>


                                        <div *ngIf="item.price==''" class="soon-tag">
                                            {{appsazSettings.nopriceTag}}
                                        </div>

                                    </div>

                                    <div *ngIf="item.stock_status == 'outofstock'" class="product-price">
                                        <div class="out-of-stock-tag">
                                            {{"No Stock" | translate}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                      <!--  <div *ngFor="let item of products;  let i = index" style="display: inline-block;">
                            <div class="product-card" (click)="getProduct(item)" *ngIf="(item.stock_status == 'outofstock' && (!service.globalFilter['min_price'] || service.globalFilter['min_price']==0) ) ">

                                <img *ngIf="item.images[0]" class="product-pic" src="{{item.images[0].src}}">
                                <img *ngIf="!item.images[0]" class="product-pic" src="assets/imgs/placeholder.png">

                                <div class="product-title" *ngIf="item.name">{{item.name}}</div>
                                <div class="product-title" *ngIf="item.title">{{item.title}}</div>

                                <div *ngIf="item.stock_status == 'instock' && item.sale_price"
                                     class="item-discount-price ltr">
                                    <div class="home-card-sale-price">{{"currency" | translate}}</div>
                                    <div class="home-card-sale-price">
                                        {{1 * item.regular_price | numberSeparator}}
                                    </div>
                                </div>

                                <div style="padding-right: 5px; padding-left: 5px;margin-top: auto;">

                                    <div *ngIf="item.stock_status == 'instock'" class="product-price">
                                        <div *ngIf="item.price!=''">
                                            <div style="display:inline-block;"> {{1 * item.price | numberSeparator}}</div>
                                            <div style="display:inline-block;"> {{"currency" | translate}}</div>
                                        </div>


                                        <div *ngIf="item.price==''" class="soon-tag">
                                            {{appsazSettings.nopriceTag}}
                                        </div>

                                    </div>

                                    <div *ngIf="item.stock_status == 'outofstock'" class="product-price">
                                        <div class="out-of-stock-tag">
                                            {{"No Stock" | translate}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>-->

                    </div>

                </div>


            </div>


            <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="has_more_items">
                <ion-infinite-scroll-content
                        loadingSpinner="crescent"
                        loadingText="{{'Loading more items...' | translate}}">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>


</ion-content>

