<ion-header>

    <ion-navbar>
        <ion-title>{{"Notifications" | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="shop-background">


    <ion-spinner *ngIf="loadingMessages" name="crescent">
    </ion-spinner>


    <div *ngIf="!loadingMessages">

        <div *ngIf="noMessages"  style="text-align: center; margin-top: 30px">
           <!-- خطا در دریافت پیام ها-->
            {{"Connection error" | translate}}
        </div>

        <div *ngIf="!noMessages">

            <div *ngIf="messages.length">
                <div *ngFor="let message of messages">

                    <div style=" width: 92%; margin: 10px 4%;">
                        <div *ngIf="message['seen']==1" class="notif-seen" >

                               {{message['title']}}

                        </div>

                        <div *ngIf="message['seen']==0" class="notif-not-seen"  >

                            {{message['title']}}

                        </div>

                        <div style="padding: 10px" class="notif-box box-shadow">
                            {{message['content']}}
                        </div>

                        <div style="color: gray; direction: rtl; padding: 5px;">
                            {{message['createdAt'] | jalali }}
                             -
                            {{message['createdAt'][10] }}{{message['createdAt'][11] }}{{message['createdAt'][12] }}{{message['createdAt'][13] }}{{message['createdAt'][14] }}
                        </div>

                    </div>

                </div>
            </div>

            <div *ngIf="!messages.length" style="text-align: center; margin-top: 30px">
               <!-- پیامی موجود نیست.-->
                {{"There are no notifications" | translate}}
            </div>


        </div>

    </div>


    <ion-infinite-scroll (ionInfinite)="doInfinite_messages($event)" *ngIf="has_more_messages">
        <ion-infinite-scroll-content loadingSpinner="crescent"  loadingText="{{'Loading more items...' | translate}}"></ion-infinite-scroll-content>
    </ion-infinite-scroll>



</ion-content>
