page-notif-list {

}

.notif-seen {
  color: color($appsazShop , header-text , base);
  background-color: color($appsazShop , primary , base);
  padding: 5px;
  font-weight: bold;
  border-radius: 3px;
}

.notif-not-seen {
  color: color($appsazShop , special-text , base);
  background-color: color($appsazShop , special , base);
  padding: 5px;
  font-weight: bold;
  border-radius: 3px;
}

.notif-box{
  background-color: color($appsazShop , card-back , base);
  color: color($appsazShop , text , base);
}
