.wishlistPage {

}
.wishlist-card{
    color: black;
    background-color: white;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    //direction: rtl;
    direction: $app-direction;
    margin-top: 15px;
}

.wishlist-card-del{
    color: color($appsazShop, delete, base );
    margin-top: 10px;
    display: inline-block;
    //float: right;
    float: $align-item;
    //margin-right: 5px;
    margin-#{$align-item}: 5px;
}
.wishlist-card-add-to-cart{
    color: color($appsazShop, primary, base );
    margin-top: 10px;
    display: inline-block;
    //float: left;
    float: $align-item-opposite;
}
