<ion-header>
    <ion-navbar>
        <ion-buttons start style="
    position: absolute;
    right: 4px;
    top: 12px;">
            <button (click)="getCart()" style="background-color: transparent;">
                <ion-badge item-end class="cartBadge" *ngIf="values.count != 0">
                    {{values.count}}
                </ion-badge>

                <img src="assets/imgs/shopping-cart.png" style="width: 24px">

            </button>
        </ion-buttons>
        <ion-title class="catalog-title">
            {{"Wishlist"| translate}}
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content class="shop-background">

    <ion-spinner *ngIf="wishlist_loading" name="crescent">
    </ion-spinner>


    <div *ngIf="noItems" style="text-align: center; margin-top: 25vh; font-size: 16px;">
        <p> {{"Your wishlist is empty!" | translate}} </p>
    </div>


    <div *ngIf="wishlist">
        <div *ngIf="!noItems">

            <div *ngFor="let item of wishlist | keys">

                <div class="wishlist-card box-shadow" >

                    <div style="flex: 5;">
                        <div (click)="getProduct(item)">
                            <div style="margin-bottom: 10px;font-size: 12px;">{{item.value.name}}</div>
                            <div style="margin-bottom: 10px;font-size: 12px;">{{"Price" | translate}}: {{item.value.price |
                                numberSeparator}} {{"currency" | translate}}
                            </div>
                        </div>

                        <hr style=" margin-top: 30px;">
                        <div class="wishlist-card-del" (click)="removeFromWishlist(item.value.id)"> {{"Remove" | translate}} </div>

                    </div>


                    <div (click)="getProduct(item)" style="flex: 3">
                        <img style="width: 115px;padding-left: 5px;" src="{{item.value.image_thumb}}">
                    </div>


                </div>
            </div>


        </div>
    </div>


</ion-content>

